<template>
   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="258.7" height="179.204" viewBox="0 0 258.7 179.204">
  <defs>
    <linearGradient id="linear-gradient" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="gray" stop-opacity="0.251"/>
      <stop offset="0.54" stop-color="gray" stop-opacity="0.122"/>
      <stop offset="1" stop-color="gray" stop-opacity="0.102"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="-18.117" y1="168.355" x2="-18.117" y2="167.355" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-3" y2="0" xlink:href="#linear-gradient"/>
  </defs>
  <g id="undraw_about_me_wa29" transform="translate(8.382 17.054)">
    <ellipse id="Ellipse_119" data-name="Ellipse 119" cx="115.978" cy="6.646" rx="115.978" ry="6.646" transform="translate(4.316 148.858)" fill="#3182ce" opacity="0.1"/>
    <g id="Group_1266" data-name="Group 1266" transform="translate(211.876 102.381)" opacity="0.2">
      <path id="Path_4664" data-name="Path 4664" d="M1008.353,783.99a3.826,3.826,0,0,1-.372.574q-1.859-1.31-3.781-2.567c.026-.054.054-.11.084-.164a3.626,3.626,0,0,1,1.291-1.4,2.159,2.159,0,0,1,2.152-.185,2.193,2.193,0,0,1,1.063,1.889A3.624,3.624,0,0,1,1008.353,783.99Z" transform="translate(-1004.2 -730.571)" fill="#3f3d56"/>
      <ellipse id="Ellipse_120" data-name="Ellipse 120" cx="3.014" cy="2.302" rx="3.014" ry="2.302" transform="translate(0.404 50.688) rotate(-62.09)" fill="#3f3d56"/>
      <ellipse id="Ellipse_121" data-name="Ellipse 121" cx="3.014" cy="2.302" rx="3.014" ry="2.302" transform="translate(2.127 47.431) rotate(-62.09)" fill="#3f3d56"/>
      <ellipse id="Ellipse_122" data-name="Ellipse 122" cx="3.014" cy="2.302" rx="3.014" ry="2.302" transform="translate(3.854 44.174) rotate(-62.09)" fill="#3f3d56"/>
      <ellipse id="Ellipse_123" data-name="Ellipse 123" cx="3.014" cy="2.302" rx="3.014" ry="2.302" transform="translate(5.578 40.915) rotate(-62.09)" fill="#3f3d56"/>
      <path id="Path_4665" data-name="Path 4665" d="M1018.33,563.132a11.189,11.189,0,0,1-.168-1.506l5.81,1.954-5.81-3.012a11.061,11.061,0,0,1,3.923-7.843l5.618,8.146-4.37-9.052a11.034,11.034,0,1,1,10.328,19.44,11.041,11.041,0,0,1,.172,2.367l-8.854-.069,8.719,1.435a11.045,11.045,0,0,1-6.421,8.323,11.034,11.034,0,1,1-15.326-8.116,11.036,11.036,0,0,1,6.384-12.049Z" transform="translate(-1005.13 -550.143)" fill="#3182ce"/>
      <path id="Path_4666" data-name="Path 4666" d="M1032.535,667.277a10.973,10.973,0,0,1-5.278,4.923,11.034,11.034,0,1,1-15.326-8.116C1011.5,661.732,1033.116,666.184,1032.535,667.277Z" transform="translate(-1005.114 -639.037)" opacity="0.1"/>
    </g>
    <g id="Group_1267" data-name="Group 1267" transform="translate(199.117 1.371)" opacity="0.2">
      <path id="Path_4667" data-name="Path 4667" d="M965.554,473.742a6.786,6.786,0,0,1-.482.995q-3.239-1.728-6.562-3.357c.03-.092.064-.189.1-.281a5.83,5.83,0,0,1,1.779-2.5,3.233,3.233,0,0,1,5.5,2.086A5.834,5.834,0,0,1,965.554,473.742Z" transform="translate(-955.546 -384.154)" fill="#3f3d56"/>
      <ellipse id="Ellipse_124" data-name="Ellipse 124" cx="4.864" cy="3.715" rx="4.864" ry="3.715" transform="matrix(0.356, -0.935, 0.935, 0.356, 3.453, 85.942)" fill="#3f3d56"/>
      <ellipse id="Ellipse_125" data-name="Ellipse 125" cx="4.864" cy="3.715" rx="4.864" ry="3.715" transform="matrix(0.356, -0.935, 0.935, 0.356, 5.57, 80.386)" fill="#3f3d56"/>
      <ellipse id="Ellipse_126" data-name="Ellipse 126" cx="4.864" cy="3.715" rx="4.864" ry="3.715" transform="matrix(0.356, -0.935, 0.935, 0.356, 7.683, 74.829)" fill="#3f3d56"/>
      <ellipse id="Ellipse_127" data-name="Ellipse 127" cx="4.864" cy="3.715" rx="4.864" ry="3.715" transform="matrix(0.356, -0.935, 0.935, 0.356, 9.799, 69.276)" fill="#3f3d56"/>
      <path id="Path_4668" data-name="Path 4668" d="M961.148,101.117a17.873,17.873,0,0,1-.568-2.4l9.694,1.974-9.9-3.683a17.816,17.816,0,0,1,4.7-13.291L975.7,95.61l-8.789-13.619A17.793,17.793,0,1,1,987.3,111.06a17.894,17.894,0,0,1,.742,3.754l-14.185,1.646,14.241.568a17.808,17.808,0,0,1-8.629,14.6,17.793,17.793,0,1,1-26.154-9.951,17.793,17.793,0,0,1,7.829-20.565Z" transform="translate(-944.683 -78.04)" fill="#3182ce"/>
      <path id="Path_4669" data-name="Path 4669" d="M986.938,276.076a17.7,17.7,0,0,1-7.473,8.92,17.793,17.793,0,1,1-26.154-9.951C952.168,271.374,987.65,274.211,986.938,276.076Z" transform="translate(-944.683 -231.41)" opacity="0.1"/>
    </g>
    <g id="Group_1268" data-name="Group 1268" transform="translate(-8.382 -17.054)" opacity="0.2">
      <path id="Path_4670" data-name="Path 4670" d="M193.865,558.361a9.236,9.236,0,0,0,.5,1.436q4.7-1.8,9.516-3.467c-.027-.131-.054-.267-.089-.4a8.025,8.025,0,0,0-2-3.714,4.438,4.438,0,0,0-7.847,1.9A8.046,8.046,0,0,0,193.865,558.361Z" transform="translate(-149.719 -432.059)" fill="#3f3d56"/>
      <ellipse id="Ellipse_128" data-name="Ellipse 128" cx="5.103" cy="6.681" rx="5.103" ry="6.681" transform="translate(40.637 111.873) rotate(-13.72)" fill="#3f3d56"/>
      <ellipse id="Ellipse_129" data-name="Ellipse 129" cx="5.103" cy="6.681" rx="5.103" ry="6.681" transform="translate(38.7 103.944) rotate(-13.72)" fill="#3f3d56"/>
      <ellipse id="Ellipse_130" data-name="Ellipse 130" cx="5.103" cy="6.681" rx="5.103" ry="6.681" transform="translate(36.765 96.011) rotate(-13.72)" fill="#3f3d56"/>
      <ellipse id="Ellipse_131" data-name="Ellipse 131" cx="5.103" cy="6.681" rx="5.103" ry="6.681" transform="translate(34.827 88.077) rotate(-13.72)" fill="#3f3d56"/>
      <path id="Path_4671" data-name="Path 4671" d="M63.013,106.636a24.232,24.232,0,0,0,1.184-3.17L50.649,104.5l14.114-3.333a24.467,24.467,0,0,0-4.138-18.926L44.115,96.665,58.42,79.6a24.445,24.445,0,1,0-32.735,36.153,24.594,24.594,0,0,0-1.652,4.992L43.087,125.4l-19.508-1.652a24.467,24.467,0,0,0,9.268,21.362A24.443,24.443,0,1,0,70.179,136,24.443,24.443,0,0,0,63,106.636Z" transform="translate(-16.342 -72.085)" fill="#3182ce"/>
      <path id="Path_4672" data-name="Path 4672" d="M47.981,309.232a24.339,24.339,0,0,0,8.667,13.443,24.443,24.443,0,1,0,37.331-9.112C96.177,308.747,47.334,306.58,47.981,309.232Z" transform="translate(-40.142 -249.648)" opacity="0.1"/>
    </g>
    <path id="Path_4673" data-name="Path 4673" d="M304.7,185.7H97.02a1.852,1.852,0,0,0-1.85,1.856v127.1A3.737,3.737,0,0,0,98.9,318.4H302.815a3.737,3.737,0,0,0,3.73-3.743v-127.1A1.854,1.854,0,0,0,304.7,185.7Z" transform="translate(-78.169 -161.249)" fill="url(#linear-gradient)"/>
    <path id="Path_4674" data-name="Path 4674" d="M308.91,222.51V342.827a3.7,3.7,0,0,1-3.7,3.7H102.95a3.7,3.7,0,0,1-3.7-3.7V222.51Z" transform="translate(-81.374 -190.168)" fill="#fff"/>
    <path id="Path_4675" data-name="Path 4675" d="M308.91,190.845v5.347H99.25v-5.347a1.835,1.835,0,0,1,1.835-1.835h205.99A1.835,1.835,0,0,1,308.91,190.845Z" transform="translate(-81.374 -163.849)" fill="#ededf4"/>
    <circle id="Ellipse_132" data-name="Ellipse 132" cx="0.858" cy="0.858" r="0.858" transform="translate(20.341 27.84)" fill="#fa5959" opacity="0.8"/>
    <circle id="Ellipse_133" data-name="Ellipse 133" cx="0.858" cy="0.858" r="0.858" transform="translate(22.699 27.84)" fill="#fed253" opacity="0.8"/>
    <circle id="Ellipse_134" data-name="Ellipse 134" cx="0.858" cy="0.858" r="0.858" transform="translate(25.057 27.84)" fill="#8ccf4d" opacity="0.8"/>
    <rect id="Rectangle_1641" data-name="Rectangle 1641" width="0.858" height="1.286" transform="translate(134.908 21.238) rotate(90)" fill="url(#linear-gradient-2)"/>
    <rect id="Rectangle_1642" data-name="Rectangle 1642" width="20.151" height="2.144" transform="translate(66.093 42.888)" fill="#ededf4"/>
    <rect id="Rectangle_1643" data-name="Rectangle 1643" width="113.191" height="2.144" transform="translate(66.093 49.104)" fill="#ededf4"/>
    <rect id="Rectangle_1644" data-name="Rectangle 1644" width="113.191" height="2.144" transform="translate(66.093 55.321)" fill="#ededf4"/>
    <rect id="Rectangle_1645" data-name="Rectangle 1645" width="113.191" height="2.144" transform="translate(66.093 61.538)" fill="#ededf4"/>
    <rect id="Rectangle_1646" data-name="Rectangle 1646" width="113.191" height="2.144" transform="translate(66.093 67.755)" fill="#ededf4"/>
    <rect id="Rectangle_1647" data-name="Rectangle 1647" width="69.887" height="54.023" transform="translate(87.709 79.615)" fill="#ededf4"/>
    <path id="Path_4676" data-name="Path 4676" d="M555.986,491.305c-.09,0-.18.013-.272.015a1.2,1.2,0,0,0,.03-.382,3.644,3.644,0,0,0-.429-1.546,6.726,6.726,0,0,0-.532-.806c-.583-.806-1.123-1.629-1.764-2.39a3.843,3.843,0,0,1-.68-1,4.881,4.881,0,0,0-.232-.581,1.25,1.25,0,0,0-1.168-.568,1.855,1.855,0,0,0-1.183.626c-.18.193-.328.491-.178.71s.476.247.5.487c0,.129,0,.339-.131.379a2.332,2.332,0,0,0-.656.287.774.774,0,0,0-.345.6c.371.056.682-.255,1.018-.429a1.88,1.88,0,0,1,1.346-.049,1.259,1.259,0,0,1,.463.234,1.628,1.628,0,0,1,.3.4,4.3,4.3,0,0,1,.742,2.011l.188,1.2a7.886,7.886,0,0,0-.832.112,5.224,5.224,0,0,1-2.214-.15,4.676,4.676,0,0,0-2.275-.429c-.362.079-.693.281-1.059.339a2.9,2.9,0,0,1-.857-.045l-.589-.094c-.019-.049-.034-.1-.049-.152a4.447,4.447,0,0,1-.167-1.323,2.358,2.358,0,0,0,2.015-3.342,2,2,0,0,0,.761-.757l-.15-.028.141-.214a.253.253,0,0,1-.041-.4.808.808,0,0,0-.405-.09c.045-.084-.028-.187-.116-.214a1.008,1.008,0,0,0-.279-.017,1.364,1.364,0,0,1-.4-.092,4.831,4.831,0,0,0-2.84-.328,3.553,3.553,0,0,0-1.134.6,1.481,1.481,0,0,0-.6,1.944,5.032,5.032,0,0,1,.3,1.091,3.462,3.462,0,0,1-.118,1.035,4.228,4.228,0,0,0,.624.139,3.538,3.538,0,0,1-.62,1.269,5.042,5.042,0,0,1-.429.474h-.026a10.438,10.438,0,0,1-1.286.159c-.455,0-.9-.172-1.353-.139a3.668,3.668,0,0,0-.787.178,12.054,12.054,0,0,1-3.625.484l-.148.015.137-.875a4.3,4.3,0,0,1,.742-2.011,1.634,1.634,0,0,1,.3-.4,1.271,1.271,0,0,1,.465-.234,1.874,1.874,0,0,1,1.344.049c.337.165.643.476,1.02.429a.78.78,0,0,0-.347-.6,2.33,2.33,0,0,0-.656-.287c-.124-.041-.142-.251-.131-.379.019-.24.36-.292.5-.489s0-.515-.178-.71a1.856,1.856,0,0,0-1.183-.624,1.245,1.245,0,0,0-1.166.568,4.581,4.581,0,0,0-.234.581,3.84,3.84,0,0,1-.68,1c-.643.761-1.181,1.584-1.764,2.39a7.138,7.138,0,0,0-.532.8,3.7,3.7,0,0,0-.429,1.548,1.208,1.208,0,0,0,.03.384.247.247,0,0,0-.024.1.446.446,0,0,0,.167.3,2.931,2.931,0,0,0,1.115.812,6.838,6.838,0,0,0,.834.144,11.456,11.456,0,0,0,1.989.512,10.15,10.15,0,0,1,1.408-.122,2.5,2.5,0,0,1,1.5,1.119,3.859,3.859,0,0,1,.74,1.353,6.35,6.35,0,0,0,.377,1.8,1.224,1.224,0,0,1,.184.356,1.191,1.191,0,0,1-.131.583c-.27.83.322,1.715.259,2.573-.03.418-.214.813-.234,1.231-.032.538.187,1.141-.114,1.588.182-.094.367-.178.555-.253a23.848,23.848,0,0,0-1.653,8.133c.047,1.8.429,3.78-.6,5.257a2.078,2.078,0,0,0-.345.59,2,2,0,0,0,.054.892c.191,1.286-.5,2.553-.551,3.859a7.781,7.781,0,0,0,.077,1.2l.253,2.174a1.578,1.578,0,0,0-.69.343.845.845,0,0,0-.375.888.886.886,0,0,0,.669.448,1.677,1.677,0,0,1,.776.294,2.986,2.986,0,0,0,.234.232.857.857,0,0,0,.519.1c.328-.013.643-.041.978-.086a.389.389,0,0,0,.2-.062.43.43,0,0,0,.109-.322,4.261,4.261,0,0,0-.041-.978c-.013-.062-.03-.122-.047-.184a3.8,3.8,0,0,0,.238-.857c.066-.429.077-.877.1-1.316.064-1.119.214-2.229.386-3.34l.214-1.428c.067-.469.135-.939.214-1.408a44.292,44.292,0,0,1,1.848-7.482c.182-.521.493-1.132,1.044-1.147l.328.643a22.7,22.7,0,0,1,1.016,2.547c.429,1.113.283,2.412.857,3.458a4.725,4.725,0,0,1,.285.521,3,3,0,0,1,.176.872l.379,3.859a14.409,14.409,0,0,0,1.134,5.074,1.953,1.953,0,0,0,.172.287,4.965,4.965,0,0,0-.011.78.306.306,0,0,0,.3.384c.324.043.643.071.975.084a.858.858,0,0,0,.519-.1,2.4,2.4,0,0,0,.236-.232,1.669,1.669,0,0,1,.774-.294.876.876,0,0,0,.669-.448.844.844,0,0,0-.375-.888,1.5,1.5,0,0,0-.763-.354,1.27,1.27,0,0,1-.347-.028,1.712,1.712,0,0,0,.026-.429,2.148,2.148,0,0,1-.021-.51,3.026,3.026,0,0,1,.176-.5c.247-.759-.279-1.531-.463-2.307-.247-1.033.12-2.116.054-3.177-.1-1.666-1.265-3.229-.956-4.869a11.1,11.1,0,0,0-.2-3.974l-.857-4.89a5.425,5.425,0,0,0-.311-1.16,2.734,2.734,0,0,0,.467-.124,3.347,3.347,0,0,0,.114-1.661c-.064-.562-.214-1.11-.289-1.668a10.958,10.958,0,0,1-.111-1.353,5.455,5.455,0,0,1,.094-1.333,6.421,6.421,0,0,1,.4-1.121,19.906,19.906,0,0,1,1.5-3c.881-.069,1.734-.144,2.613-.214a3.631,3.631,0,0,0,.626-.084,7.918,7.918,0,0,1,.8-.229,1.07,1.07,0,0,0,.3-.058c.193-.088.311-.334.523-.343a.9.9,0,0,0,.24,0c.094-.03.141-.133.214-.214.133-.148.349-.178.523-.274A.759.759,0,0,0,555.986,491.305Z" transform="translate(-421.071 -394.955)" fill="url(#linear-gradient-3)"/>
    <circle id="Ellipse_135" data-name="Ellipse 135" cx="2.358" cy="2.358" r="2.358" transform="translate(121.405 89.289)" fill="#a1616a"/>
    <path id="Path_4677" data-name="Path 4677" d="M577.534,503.722a5.873,5.873,0,0,1-.8.812,6.386,6.386,0,0,0,4.609.759c-.058-.161-.268-.184-.416-.266a.9.9,0,0,1-.364-.575,4.491,4.491,0,0,1-.137-1.739,1.07,1.07,0,0,0,0-.429.919.919,0,0,0-.444-.489,4.373,4.373,0,0,0-1.072-.482c-.39-.116-.613-.169-.628.285a3.613,3.613,0,0,1-.744,2.122Z" transform="translate(-456.494 -409.14)" fill="#a1616a"/>
    <path id="Path_4678" data-name="Path 4678" d="M616.483,494.951l-.24-1.522a5.648,5.648,0,0,0-.191-.9,5.836,5.836,0,0,0-.549-1.1,1.622,1.622,0,0,0-.3-.4,1.258,1.258,0,0,0-.463-.234,1.867,1.867,0,0,0-1.342.051c-.336.163-.643.472-1.018.418a.767.767,0,0,1,.347-.6,2.263,2.263,0,0,1,.643-.287c.122-.039.141-.249.131-.377-.019-.238-.36-.289-.5-.485s0-.512.176-.707a1.846,1.846,0,0,1,1.181-.62,1.239,1.239,0,0,1,1.166.564,4.531,4.531,0,0,1,.234.579,3.858,3.858,0,0,0,.677,1c.643.757,1.181,1.576,1.762,2.377a7.405,7.405,0,0,1,.532.8,3.626,3.626,0,0,1,.429,1.539.958.958,0,0,1-.071.487.755.755,0,0,1-.643.369,2.28,2.28,0,0,1-.77-.154l-.935-.315a.609.609,0,0,1-.3-.165A.236.236,0,0,1,616.483,494.951Z" transform="translate(-484.501 -398.885)" fill="#a1616a"/>
    <path id="Path_4679" data-name="Path 4679" d="M534.529,496.521l.238-1.522a5.905,5.905,0,0,1,.193-.9,5.7,5.7,0,0,1,.549-1.1,1.517,1.517,0,0,1,.3-.4,1.212,1.212,0,0,1,.463-.234,1.874,1.874,0,0,1,1.344.049c.336.163.643.472,1.018.418a.772.772,0,0,0-.347-.6,2.294,2.294,0,0,0-.643-.287c-.122-.039-.141-.249-.131-.377.019-.238.358-.289.5-.484s0-.512-.178-.705a1.844,1.844,0,0,0-1.181-.622,1.241,1.241,0,0,0-1.166.564,4.528,4.528,0,0,0-.232.579,3.908,3.908,0,0,1-.677,1c-.643.757-1.181,1.576-1.764,2.377a7.312,7.312,0,0,0-.529.8,3.661,3.661,0,0,0-.429,1.539.972.972,0,0,0,.073.489.757.757,0,0,0,.654.367,2.218,2.218,0,0,0,.768-.154l.937-.307a.592.592,0,0,0,.3-.165A.236.236,0,0,0,534.529,496.521Z" transform="translate(-421.23 -400.119)" fill="#a1616a"/>
    <path id="Path_4680" data-name="Path 4680" d="M612.17,680.3a.841.841,0,0,1,.375.883.887.887,0,0,1-.669.446,1.692,1.692,0,0,0-.774.292,2.348,2.348,0,0,1-.234.221.842.842,0,0,1-.519.1c-.326-.013-.643-.041-.975-.084a.388.388,0,0,1-.195-.062.414.414,0,0,1-.107-.319,4.1,4.1,0,0,1,.039-.973,1.394,1.394,0,0,1,.469-.83c.249-.193,1-.765,1.286-.4.075.1.045.234.15.315s.27.037.39.051A1.5,1.5,0,0,1,612.17,680.3Z" transform="translate(-481.893 -549.151)" fill="#3f3d56"/>
    <path id="Path_4681" data-name="Path 4681" d="M554.5,680.851a.841.841,0,0,0-.375.883.875.875,0,0,0,.667.446,1.68,1.68,0,0,1,.774.292,2.393,2.393,0,0,0,.236.232.858.858,0,0,0,.517.1c.326-.013.643-.041.975-.086a.384.384,0,0,0,.2-.062.414.414,0,0,0,.109-.319,4.2,4.2,0,0,0-.041-.971,1.383,1.383,0,0,0-.47-.832c-.246-.193-1-.765-1.286-.4-.075.1-.045.236-.152.315s-.268.036-.39.051A1.513,1.513,0,0,0,554.5,680.851Z" transform="translate(-438.707 -549.59)" fill="#3f3d56"/>
    <path id="Path_4682" data-name="Path 4682" d="M560.985,575.7a24.836,24.836,0,0,0-1.833,8.626c.047,1.79.429,3.762-.6,5.231a2.043,2.043,0,0,0-.345.587,2.016,2.016,0,0,0,.052.887c.193,1.286-.5,2.543-.549,3.842a7.748,7.748,0,0,0,.077,1.2l.268,2.29c.09.785,1.1,1.106,1.882,1.216a2.918,2.918,0,0,0,.662-1.541c.066-.429.077-.872.1-1.308.067-1.115.227-2.221.386-3.325l.214-1.421c.069-.467.135-.935.214-1.4a44.1,44.1,0,0,1,1.85-7.424c.182-.521.493-1.128,1.042-1.143l.328.63a22.277,22.277,0,0,1,1.014,2.534c.429,1.108.281,2.4.857,3.443a4.329,4.329,0,0,1,.283.517,2.979,2.979,0,0,1,.176.858l.38,3.833a14.267,14.267,0,0,0,1.132,5.049,1.173,1.173,0,0,0,.358.472.971.971,0,0,0,1.072-.118,1.829,1.829,0,0,0,.742-1.582,2.366,2.366,0,0,1-.021-.508,3.354,3.354,0,0,1,.176-.5c.249-.755-.277-1.522-.463-2.294-.246-1.029.12-2.105.056-3.162-.1-1.659-1.263-3.216-.956-4.847a11.037,11.037,0,0,0-.2-3.955l-.868-4.866a2.672,2.672,0,0,0-1.027-2.009,2.552,2.552,0,0,0-1.25-.214C564.426,575.289,562.733,575.536,560.985,575.7Z" transform="translate(-441.549 -467.312)" fill="#3f3d56"/>
    <path id="Path_4683" data-name="Path 4683" d="M556.134,516.513a3.066,3.066,0,0,1-1.8-.373,3.623,3.623,0,0,0-.663-.347,3.009,3.009,0,0,0-1.35.049,5.274,5.274,0,0,1-2.21-.15,4.7,4.7,0,0,0-2.272-.429c-.362.079-.69.279-1.057.336a2.813,2.813,0,0,1-.857-.045l-2.444-.382a6.68,6.68,0,0,0-1.677-.12,10.874,10.874,0,0,1-1.286.161c-.452,0-.9-.172-1.351-.142a3.68,3.68,0,0,0-.785.178,12.079,12.079,0,0,1-3.617.482,5.429,5.429,0,0,0-2.72.943.428.428,0,0,0-.214.3.439.439,0,0,0,.169.3,2.9,2.9,0,0,0,1.113.81,6.721,6.721,0,0,0,.832.141,11.4,11.4,0,0,0,1.985.512,10.126,10.126,0,0,1,1.406-.122,2.5,2.5,0,0,1,1.5,1.113,3.9,3.9,0,0,1,.74,1.346,6.218,6.218,0,0,0,.375,1.79,1.241,1.241,0,0,1,.184.354,1.179,1.179,0,0,1-.131.581c-.27.825.322,1.7.259,2.572-.03.414-.214.808-.234,1.222-.03.538.187,1.136-.114,1.582a7.685,7.685,0,0,1,3.741-.817,4.712,4.712,0,0,1,.643.06,9.015,9.015,0,0,1,1.218.339,4.313,4.313,0,0,0,2.766.163,3.288,3.288,0,0,0,.111-1.653c-.066-.557-.2-1.106-.287-1.661a10.88,10.88,0,0,1-.112-1.346,5.412,5.412,0,0,1,.094-1.327,6.3,6.3,0,0,1,.4-1.115,19.655,19.655,0,0,1,1.5-3c.879-.071,1.73-.146,2.609-.214a4.066,4.066,0,0,0,.624-.084,8.021,8.021,0,0,1,.8-.227,1.05,1.05,0,0,0,.3-.06c.193-.088.313-.332.523-.339a1.012,1.012,0,0,0,.24,0c.094-.028.139-.133.214-.214.133-.148.349-.178.523-.272A.754.754,0,0,0,556.134,516.513Z" transform="translate(-421.219 -419.989)" fill="#3182ce"/>
    <path id="Path_4684" data-name="Path 4684" d="M582.382,488.207a.429.429,0,0,0,.487.03.6.6,0,0,0,.18-.33,7.594,7.594,0,0,0,.187-.815.892.892,0,0,1,.107-.341c.156-.24.5-.253.759-.362a1.973,1.973,0,0,0,.778-.763l-.148-.03.139-.214a.249.249,0,0,1-.039-.4.791.791,0,0,0-.407-.092c.045-.081-.028-.184-.116-.214a.919.919,0,0,0-.277-.015,1.366,1.366,0,0,1-.4-.094,4.826,4.826,0,0,0-2.834-.326,3.524,3.524,0,0,0-1.134.594,1.473,1.473,0,0,0-.6,1.929,4.984,4.984,0,0,1,.3,1.083,3.443,3.443,0,0,1-.116,1.033,3.373,3.373,0,0,0,.783.152,1.123,1.123,0,0,0,.75-.214,4.259,4.259,0,0,0,.51-.7.727.727,0,0,1,.62-.326C582.148,487.83,582.191,488.072,582.382,488.207Z" transform="translate(-458.21 -395.709)" fill="#3f3d56"/>
    <path id="Path_4685" data-name="Path 4685" d="M398.755,692h-2.51a.328.328,0,0,0,0,.643h.5v4.26h-8.59a.238.238,0,0,0-.191-.116h-2.508a.328.328,0,0,0,0,.643h.5v4.375h-8.294a.266.266,0,0,0-.236-.232h-2.506a.326.326,0,0,0,0,.643h.251v4.5h-8.431a.216.216,0,0,0-.1-.028h-2.508a.328.328,0,0,0,0,.643h.251v4.288h-8.324a.24.24,0,0,0-.214-.146h-2.508a.328.328,0,0,0,0,.643h.251v4.748h56.709V692Z" transform="translate(-280.782 -559.01)" fill="#3f3d56"/>
    <path id="Path_4686" data-name="Path 4686" d="M160.476,283.016a5.936,5.936,0,0,0-.838-.9.72.72,0,0,1,.079-1.147c.1-.066.2-.137.3-.214,1.17-.89,1.762-2.084,1.318-2.669s-1.754-.337-2.924.553a4.482,4.482,0,0,0-.388.324.718.718,0,0,1-1.123-.214,6.064,6.064,0,0,0-.577-.918c-1.042-1.372-2.44-2.064-3.124-1.546s-.4,2.054.643,3.43a5.912,5.912,0,0,0,.675.75.725.725,0,0,1-.159,1.155h0c-1.286.735-2.013,1.844-1.649,2.48s1.7.557,2.973-.176a5.594,5.594,0,0,0,.57-.379.725.725,0,0,1,1.093.266,5.63,5.63,0,0,0,.643,1.072c1.04,1.372,2.44,2.064,3.123,1.546S161.516,284.39,160.476,283.016Z" transform="translate(-123.305 -232.282)" fill="#3182ce" opacity="0.1"/>
    <path id="Path_4687" data-name="Path 4687" d="M884.744,447.883a5.833,5.833,0,0,0,.615-1.061.716.716,0,0,1,1.117-.257c.094.077.193.152.294.227,1.192.857,2.508,1.072,2.937.482s-.189-1.775-1.381-2.637q-.215-.152-.429-.277a.718.718,0,0,1-.118-1.138,5.824,5.824,0,0,0,.708-.819c1.01-1.4,1.263-2.935.568-3.43s-2.079.214-3.089,1.618a6.056,6.056,0,0,0-.521.858.725.725,0,0,1-1.151.186h0c-1.072-1.005-2.358-1.387-2.853-.857s-.036,1.786,1.038,2.787a5.164,5.164,0,0,0,.529.429.725.725,0,0,1,.062,1.123,5.754,5.754,0,0,0-.842.941c-1.01,1.4-1.263,2.935-.566,3.43S883.734,449.28,884.744,447.883Z" transform="translate(-695.725 -360.102)" fill="#3182ce" opacity="0.1"/>
    <ellipse id="Ellipse_136" data-name="Ellipse 136" cx="7.246" cy="1.393" rx="7.246" ry="1.393" transform="translate(182.871 157.36)" fill="#3182ce"/>
    <ellipse id="Ellipse_137" data-name="Ellipse 137" cx="0.845" cy="1.104" rx="0.845" ry="1.104" transform="translate(189.152 157.058)" fill="#3f3d56"/>
    <ellipse id="Ellipse_138" data-name="Ellipse 138" cx="0.845" cy="1.104" rx="0.845" ry="1.104" transform="translate(189.152 155.708)" fill="#3f3d56"/>
    <ellipse id="Ellipse_139" data-name="Ellipse 139" cx="0.845" cy="1.104" rx="0.845" ry="1.104" transform="translate(189.152 154.359)" fill="#3f3d56"/>
    <ellipse id="Ellipse_140" data-name="Ellipse 140" cx="0.845" cy="1.104" rx="0.845" ry="1.104" transform="translate(189.152 153.009)" fill="#3f3d56"/>
    <ellipse id="Ellipse_141" data-name="Ellipse 141" cx="0.845" cy="1.104" rx="0.845" ry="1.104" transform="translate(189.152 151.658)" fill="#3f3d56"/>
    <ellipse id="Ellipse_142" data-name="Ellipse 142" cx="0.845" cy="1.104" rx="0.845" ry="1.104" transform="translate(189.152 150.31)" fill="#3f3d56"/>
    <ellipse id="Ellipse_143" data-name="Ellipse 143" cx="0.845" cy="1.104" rx="0.845" ry="1.104" transform="translate(189.152 148.959)" fill="#3f3d56"/>
    <path id="Path_4688" data-name="Path 4688" d="M890.394,704.631a4.268,4.268,0,0,0,.313-.463l-2.215-.364,2.4.019a4.039,4.039,0,0,0,.077-3.2l-3.216,1.668,2.967-2.18a4.041,4.041,0,1,0-6.676,4.523,4.138,4.138,0,0,0-.461.738l2.879,1.5-3.07-1.029a52.777,52.777,0,0,1,1.079,9.26,8.182,8.182,0,0,0,5.919-10.463Z" transform="translate(-697.24 -563.805)" fill="#3182ce"/>
    <path id="Path_4689" data-name="Path 4689" d="M883.176,739.983a16.249,16.249,0,0,1,1.293,7.966,4.041,4.041,0,0,0,5.919-5.466C890.934,741.794,883.176,739.531,883.176,739.983Z" transform="translate(-697.24 -596.66)" opacity="0.1"/>
    <ellipse id="Ellipse_144" data-name="Ellipse 144" cx="3.28" cy="0.63" rx="3.28" ry="0.63" transform="translate(54.781 158.456)" fill="#3182ce"/>
    <ellipse id="Ellipse_145" data-name="Ellipse 145" cx="0.382" cy="0.499" rx="0.382" ry="0.499" transform="translate(57.625 158.319)" fill="#3f3d56"/>
    <ellipse id="Ellipse_146" data-name="Ellipse 146" cx="0.382" cy="0.499" rx="0.382" ry="0.499" transform="translate(57.625 157.708)" fill="#3f3d56"/>
    <ellipse id="Ellipse_147" data-name="Ellipse 147" cx="0.382" cy="0.499" rx="0.382" ry="0.499" transform="translate(57.625 157.097)" fill="#3f3d56"/>
    <ellipse id="Ellipse_148" data-name="Ellipse 148" cx="0.382" cy="0.499" rx="0.382" ry="0.499" transform="translate(57.625 156.486)" fill="#3f3d56"/>
    <ellipse id="Ellipse_149" data-name="Ellipse 149" cx="0.382" cy="0.499" rx="0.382" ry="0.499" transform="translate(57.625 155.875)" fill="#3f3d56"/>
    <ellipse id="Ellipse_150" data-name="Ellipse 150" cx="0.382" cy="0.499" rx="0.382" ry="0.499" transform="translate(57.625 155.264)" fill="#3f3d56"/>
    <ellipse id="Ellipse_151" data-name="Ellipse 151" cx="0.382" cy="0.499" rx="0.382" ry="0.499" transform="translate(57.625 154.653)" fill="#3f3d56"/>
    <path id="Path_4690" data-name="Path 4690" d="M281.109,765a1.732,1.732,0,0,0,.144-.214l-1-.165h1.085a1.831,1.831,0,0,0,.167-.765,1.808,1.808,0,0,0-.133-.684l-1.456.755,1.342-.986a5.129,5.129,0,0,0-3.235,2.38l1.3.677-1.389-.467a22.849,22.849,0,0,1,.49,4.193,3.708,3.708,0,0,0,2.68-4.74Z" transform="translate(-221.675 -614.028)" fill="#3182ce"/>
    <path id="Path_4691" data-name="Path 4691" d="M277.866,781.041a7.241,7.241,0,0,1,.587,3.61,1.831,1.831,0,0,0,2.68-2.478C281.38,781.869,277.866,780.836,277.866,781.041Z" transform="translate(-221.699 -628.942)" opacity="0.1"/>
  </g>
</svg>

</template>

<script>
export default {
  name: 'AboutImage'
}
</script>