<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 418.061 404.841">
  <defs>
    <linearGradient id="linear-gradient" x1="0.502" y1="1.014" x2="0.502" y2="0.014" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="gray" stop-opacity="0.251"/>
      <stop offset="0.54" stop-color="gray" stop-opacity="0.122"/>
      <stop offset="1" stop-color="gray" stop-opacity="0.102"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="1.068" y1="0.668" x2="1.068" y2="-0.332" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-3" x1="2.842" y1="0.652" x2="2.842" y2="-0.351" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-4" x1="1.073" y1="0.27" x2="1.073" y2="-0.729" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-5" x1="0.251" y1="0.451" x2="0.251" y2="-0.549" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-6" x1="5.173" y1="0.029" x2="5.173" y2="-0.871" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-7" x1="0.5" y1="1" x2="0.5" y2="0" xlink:href="#linear-gradient"/>
  </defs>
  <g id="undraw_agreement_aajr" transform="translate(0 -0.013)">
    <g id="Group_1816" data-name="Group 1816" transform="translate(35.491 0.013)" opacity="0.5">
      <rect id="Rectangle_1978" data-name="Rectangle 1978" width="242.116" height="334.529" transform="translate(0 100.48) rotate(-24.52)" fill="url(#linear-gradient)"/>
    </g>
    <rect id="Rectangle_1979" data-name="Rectangle 1979" width="235.955" height="327.135" transform="translate(39.313 101.457) rotate(-24.52)" fill="#fff"/>
    <rect id="Rectangle_1980" data-name="Rectangle 1980" width="117.054" height="28.354" transform="translate(90.1 68.792) rotate(-24.52)" fill="url(#linear-gradient-2)"/>
    <path id="Path_5574" data-name="Path 5574" d="M425.623,60.122a16.758,16.758,0,1,0,21.84,8.451A16.562,16.562,0,0,0,425.623,60.122Zm10.965,24.036a9.67,9.67,0,1,1,4.578-12.713,9.557,9.557,0,0,1-4.578,12.717Z" transform="translate(-293.778 -40.831)" fill="url(#linear-gradient-3)"/>
    <rect id="Rectangle_1981" data-name="Rectangle 1981" width="114.588" height="27.107" transform="translate(91.227 68.3) rotate(-24.52)" fill="#3182ce"/>
    <path id="Path_5575" data-name="Path 5575" d="M426.818,62.5a16.019,16.019,0,1,0,21.221,7.927A16.019,16.019,0,0,0,426.818,62.5ZM437.3,85.486a9.24,9.24,0,1,1,4.573-12.245A9.24,9.24,0,0,1,437.3,85.486Z" transform="translate(-294.462 -42.088)" fill="#3182ce"/>
    <rect id="Rectangle_1982" data-name="Rectangle 1982" width="50.52" height="50.52" transform="translate(71.393 145.06) rotate(-24.52)" fill="url(#linear-gradient-4)"/>
    <rect id="Rectangle_1983" data-name="Rectangle 1983" width="50.52" height="50.52" transform="translate(113.097 236.075) rotate(-24.52)" fill="url(#linear-gradient-5)"/>
    <rect id="Rectangle_1984" data-name="Rectangle 1984" width="46.821" height="46.821" transform="translate(73.84 145.974) rotate(-24.52)" fill="#69f0ae"/>
    <rect id="Rectangle_1985" data-name="Rectangle 1985" width="46.821" height="46.821" transform="translate(115.004 236.214) rotate(-24.52)" fill="#3182ce"/>
    <rect id="Rectangle_1986" data-name="Rectangle 1986" width="64.177" height="4.478" transform="translate(150.462 126.91) rotate(-24.52)" fill="#e0e0e0"/>
    <rect id="Rectangle_1987" data-name="Rectangle 1987" width="105.967" height="4.478" transform="translate(153.253 133.022) rotate(-24.52)" fill="#e0e0e0"/>
    <rect id="Rectangle_1988" data-name="Rectangle 1988" width="98.503" height="4.478" transform="translate(156.036 139.132) rotate(-24.52)" fill="#e0e0e0"/>
    <rect id="Rectangle_1989" data-name="Rectangle 1989" width="64.177" height="4.478" transform="translate(191.629 217.155) rotate(-24.52)" fill="#e0e0e0"/>
    <rect id="Rectangle_1990" data-name="Rectangle 1990" width="105.967" height="4.478" transform="translate(194.418 223.262) rotate(-24.52)" fill="#e0e0e0"/>
    <rect id="Rectangle_1991" data-name="Rectangle 1991" width="98.503" height="4.478" transform="translate(197.203 229.377) rotate(-24.52)" fill="#e0e0e0"/>
    <path id="Path_5576" data-name="Path 5576" d="M196.1,317.86l10.969,3.562,3.609-21.112,5.338,1.46-6,26.1-16.544-7.252Z" transform="translate(-102.073 -158.433)" fill="url(#linear-gradient-6)"/>
    <path id="Path_5577" data-name="Path 5577" d="M199.441,319.824l9.538,3.094,3.137-18.358,4.639,1.271-5.22,22.695-14.385-6.3Z" transform="translate(-104.014 -160.676)" fill="#fff"/>
    <path id="Path_5578" data-name="Path 5578" d="M287.121,512.034l9.538,3.094L299.8,496.77l4.639,1.271-5.22,22.695-14.385-6.3Z" transform="translate(-150.273 -262.083)" fill="#fff"/>
    <rect id="Rectangle_1992" data-name="Rectangle 1992" width="149.707" height="49.901" transform="translate(183.762 314.211) rotate(-24.52)" fill="#e0e0e0"/>
    <path id="Path_5579" data-name="Path 5579" d="M705.532,630.252c-5.234-1.493-10.591-1.209-12.259,4.776-.562,2.017-.628,5.149-2.792,6.189-3.184,1.531-7.025-1.531-9.788-2.778a10.142,10.142,0,0,0-13.417,4.143,23.422,23.422,0,0,0-2.674,8.144,17.441,17.441,0,0,1-.765,3.888c-.987,2.206-4.077,2.008-6.1,1.923a13.186,13.186,0,0,1-1.351-.1,11.967,11.967,0,0,0,2.268-7.62c-.132-4.474-3.038-9.368-8.116-8.82a8.416,8.416,0,0,0-7.242,9.311,11.414,11.414,0,0,0,6.052,8.5c-1.549.685-3.2,1.219-4.667,1.927a19.582,19.582,0,0,0-1.989,1.11c-4.427-2.135-10.242-2.537-14.224-.359-1.927,1.053-.52,4.186,1.417,3.123,3.033-1.658,6.378-1.242,9.547-.189l.265.094a8.534,8.534,0,0,0-.827,1.28c-1.79,3.477,0,8.976,4.356,9.354,6.141.524,6.43-7.592,3.094-10.823-.142-.137-.283-.269-.435-.4,1.379-.666,2.872-1.167,4.19-1.729a17.428,17.428,0,0,0,3.26-1.814l.236.061c4.691,1.063,12.013,1.394,13.7-4.289,1.446-4.932,1.583-15.405,9.377-14.437,3.179.392,5.787,2.834,8.81,3.718,2.707.808,5.839.841,8.059-1.153,1.833-1.644,2.244-4.072,2.806-6.34a6.372,6.372,0,0,1,1.526-3.406c1.724-1.507,4.573-.619,6.5-.071C706.444,634.069,707.663,630.857,705.532,630.252Zm-60.941,39.961c-1.035,1.025-2.131.213-2.683-.86a3.371,3.371,0,0,1,.472-3.737,6.5,6.5,0,0,1,.449-.539c2.046,1.323,3.718,3.217,1.781,5.135Zm3.628-25.51a3.814,3.814,0,0,1,6.354,1.172,9.385,9.385,0,0,1-1.068,8.929,7.208,7.208,0,0,1-.779.879,9.953,9.953,0,0,1-3.368-1.923c-2.513-2.268-3.935-6.458-1.12-9.07Z" transform="translate(-405.31 -341.989)" fill="#3182ce"/>
    <path id="Path_5580" data-name="Path 5580" d="M485.673,167.792,447.54,182.658a109.544,109.544,0,0,1-37.235-9.543,58.935,58.935,0,0,0-51.965.392c-37.32.893-57.861-3.888-68.821-8.414l2.891-5.933-38.653-15.07L157.12,100.78V278.293l33.82,15.07,18.141-43.519,39.838,18.424,7.648-19.435,26.157,19.411,1.781,1.5-2.452,2.546a12.783,12.783,0,0,0,0,17.578h0a11.64,11.64,0,0,0,16.912,0l-1.342,1.417a12.783,12.783,0,0,0,0,17.578h0a11.64,11.64,0,0,0,16.912,0l7.748-8.055h0l-5.319,5.527a12.783,12.783,0,0,0,0,17.578h0a11.64,11.64,0,0,0,16.912,0l7.648-7.951h0l-3.217,3.345a8.929,8.929,0,0,0,0,12.283,8.13,8.13,0,0,0,11.81,0l5.1-5.3c8.763,6.4,15.854,11.073,19.326,12.283,14.47,5.017,14.47-5.031,14.47-5.031,19.326,10.043,28.992-10.043,28.992-10.043,24.159,10.043,24.159-15.07,24.159-15.07,6.037,4.186,10.393,2.268,13.435-1.417a16.369,16.369,0,0,0,1.8-17.711L480.5,267.962l9.987,20.418,39.838-18.424,18.141,40.216,26.715-11.928V122.587Z" transform="translate(-157.12 -63.046)" fill="url(#linear-gradient-7)"/>
    <path id="Path_5581" data-name="Path 5581" d="M598.409,371.514l-42.054,37.377L523.65,348.149l74.759-18.689Z" transform="translate(-276.272 -173.813)" fill="#be7c5e"/>
    <path id="Path_5582" data-name="Path 5582" d="M382.413,231.69s13.5,18.689,93.448,14.016l46.726,70.087L553.9,351.021a14.9,14.9,0,0,1,.369,19.544c-2.934,3.406-7.152,5.2-12.991,1.3,0,0,0,23.361-23.361,14.016,0,0-9.344,18.689-28.033,9.344,0,0,0,9.344-14.016,4.672s-88.78-65.41-88.78-65.41L354.38,311.126Z" transform="translate(-261.192 -132.113)" fill="#fda57d"/>
    <path id="Path_5583" data-name="Path 5583" d="M634.128,264.954a108.731,108.731,0,0,1-40.155-9.066c-18.155-8.234-39.3-7.185-56.047,3.623-13.653,8.81-25.482,23.4-25.26,47.492,0,0,18.169,18.689,37.377-18.689H564.06s13.5,46.726,51.4,42.045,46.726-9.344,46.726-9.344Z" transform="translate(-344.701 -142.011)" fill="#be7c5e"/>
    <rect id="Rectangle_1993" data-name="Rectangle 1993" width="23.129" height="36.343" rx="11.565" transform="translate(157.825 206.268) rotate(45)" fill="#be7c5e"/>
    <rect id="Rectangle_1994" data-name="Rectangle 1994" width="23.129" height="36.343" rx="11.565" transform="translate(142.766 188.617) rotate(45)" fill="#be7c5e"/>
    <rect id="Rectangle_1995" data-name="Rectangle 1995" width="23.129" height="39.645" rx="11.565" transform="translate(178.848 217.945) rotate(45)" fill="#be7c5e"/>
    <rect id="Rectangle_1996" data-name="Rectangle 1996" width="16.152" height="26.431" rx="8.076" transform="translate(192.609 236.898) rotate(45)" fill="#be7c5e"/>
    <path id="Path_5584" data-name="Path 5584" d="M686.873,328.68l-42.049,18.689L602.77,244.576l37.382-14.016Z" transform="translate(-318.015 -121.634)" fill="#fff"/>
    <path id="Path_5585" data-name="Path 5585" d="M108.25,279.225,150.3,297.913l42.054-102.792L154.971,181.1Z" transform="translate(-57.111 -95.54)" fill="#fff"/>
    <path id="Path_5586" data-name="Path 5586" d="M9.34,92.09l93.448,42.049L42.05,274.313,9.34,260.3Z" transform="translate(-4.928 -48.579)" fill="#333"/>
    <path id="Path_5587" data-name="Path 5587" d="M775.348,141.54,681.9,183.594l60.743,140.169,32.705-14.016Z" transform="translate(-359.763 -74.668)" fill="#4d8af0"/>
  </g>
</svg>
</template>

<script>
export default {
  name: 'AgreementImage'
}
</script>