<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="281" height="210.442" viewBox="0 0 281 210.442">
  <g id="undraw_personal_file_222m" transform="translate(0 44.624)">
    <ellipse id="Ellipse_113" data-name="Ellipse 113" cx="59.639" cy="2.859" rx="59.639" ry="2.859" transform="translate(161.721 160.101)" fill="#d0cde1"/>
    <g id="Group_1265" data-name="Group 1265" transform="translate(0 -43.772)">
      <path id="Path_4644" data-name="Path 4644" d="M910.581,479.433l6.876,26.741s.255,18.846,1.783,26.231,6.621,25.213,6.621,25.213l6.112,1.019L930.7,533.679s0-15.026-1.273-18.337-3.82-37.182-3.82-37.182Z" transform="translate(-686.736 -362.371)" fill="#ffb8b8"/>
      <path id="Path_4645" data-name="Path 4645" d="M910.581,479.433l6.876,26.741s.255,18.846,1.783,26.231,6.621,25.213,6.621,25.213l6.112,1.019L930.7,533.679s0-15.026-1.273-18.337-3.82-37.182-3.82-37.182Z" transform="translate(-686.736 -362.371)" opacity="0.1"/>
      <path id="Path_4646" data-name="Path 4646" d="M935.239,199.51h0c-8.489,0-15.371,7.637-15.371,17.058v11.969h3.681l2.131-4.435-.533,4.435H948.81l1.937-4.032-.484,4.032h2.664v-9.4C952.926,208.3,945.008,199.51,935.239,199.51Z" transform="translate(-692.331 -194.529)" fill="#2f2e41"/>
      <path id="Path_4647" data-name="Path 4647" d="M892.583,470.795s-3.056,12.988,1.019,14.262,3.056-14.262,3.056-14.262Z" transform="translate(-675.233 -357.935)" fill="#ffb8b8"/>
      <path id="Path_4648" data-name="Path 4648" d="M838.437,120.081l-2.038,2.292.509,44.059-4.584,20.883,10.187,1.019,5.093-42.021-1.528-21.392Z" transform="translate(-615.992 -73.182)" fill="#3f3d56"/>
      <path id="Path_4649" data-name="Path 4649" d="M838.437,120.081l-2.038,2.292.509,44.059-4.584,20.883,10.187,1.019,5.093-42.021-1.528-21.392Z" transform="translate(-615.992 -73.182)" opacity="0.1"/>
      <ellipse id="Ellipse_114" data-name="Ellipse 114" cx="10.942" cy="10.942" rx="10.942" ry="10.942" transform="translate(230.606 10.451)" fill="#ffb8b8"/>
      <path id="Path_4650" data-name="Path 4650" d="M939.325,253.315s3.21,16.633,1.751,18.383,15.465-3.21,15.465-3.21-5.544-11.38-2.626-17.8Z" transform="translate(-704.05 -225.356)" fill="#ffb8b8"/>
      <path id="Path_4651" data-name="Path 4651" d="M1002.546,440.7s3.056,12.988-1.019,14.262-3.056-14.262-3.056-14.262Z" transform="translate(-739.609 -339.805)" fill="#ffb8b8"/>
      <path id="Path_4652" data-name="Path 4652" d="M926.339,473.677s-4.329,25.977-4.075,29.8,0,4.329,0,4.329-4.329,11.206-5.6,17.573a137.476,137.476,0,0,1-4.075,14.516s-3.311,7.385-.509,7.385a31.852,31.852,0,0,0,6.621-1.018,13.007,13.007,0,0,1,2.8-8.108c3.056-3.862,12.224-21.944,12.224-24.236S935.253,505,935.253,505l5.858-28.269Z" transform="translate(-686.96 -359.671)" fill="#ffb8b8"/>
      <path id="Path_4653" data-name="Path 4653" d="M901.659,428.686s-4.33,21.9-.51,22.411,9.168-3.311,16.044,1.019,18.336,3.311,18.336,3.311,7.895-20.119.764-24.958S901.659,428.686,901.659,428.686Z" transform="translate(-680.107 -331.997)" fill="#2f2e41"/>
      <path id="Path_4654" data-name="Path 4654" d="M906.8,640.575a6.786,6.786,0,0,1,3.565-.509,4.651,4.651,0,0,0,3.311-.764s-2.037,7.385-1.783,10.187-.764,14.771-6.112,13.5-6.876-5.094-4.839-11.715a45.687,45.687,0,0,0,1.528-14.262s3.717-3.839,4.405-3.32S906.8,640.575,906.8,640.575Z" transform="translate(-680.407 -456.024)" fill="#2f2e41"/>
      <path id="Path_4655" data-name="Path 4655" d="M939.227,670.763s-2.547-5.6-5.6-.509-3.311,6.367-3.311,6.367-8.659,7.895-2.547,8.659,10.951-.255,10.951-1.528,3.056-1.018,3.311-2.037-.51-10.442-.51-10.442Z" transform="translate(-695.773 -476.789)" fill="#2f2e41"/>
      <path id="Path_4656" data-name="Path 4656" d="M929.272,276.8h0s-10.7,2.037-11.969,1.783a6.329,6.329,0,0,0-.868-.092,12.871,12.871,0,0,0-7.109,1.763c-3.546,2.06-8.832,5.726-8.832,9.28,0,5.348,6.876,14.516,6.876,14.516s-6.367,21.9-5.858,23.939-3.82,8.913-1.019,11.206,29.542,0,34.381,2.292,2.547-30.561,2.547-30.561,12.988-29.8,6.367-32.6c-2.143-.906-3.992-1.6-5.513-2.123A11.654,11.654,0,0,0,929.272,276.8Z" transform="translate(-680.088 -240.345)" fill="#3f3d56"/>
      <path id="Path_4657" data-name="Path 4657" d="M996.2,283.148l5.844.966s2.561,2.6,2.561,3.873-.509,56.283-1.273,58.066-9.168,1.019-9.168,1.019l1.528-31.325Z" transform="translate(-737.078 -244.908)" fill="#3f3d56"/>
      <path id="Path_4658" data-name="Path 4658" d="M943.461,206.409a8.061,8.061,0,0,0-6.361-3.246h-.3c-5.818,0-10.535,5.265-10.535,11.76h1.95l.315-2.4.461,2.4h11.563l.969-2.027-.242,2.027h2.275q1.592,7.907-4.576,15.815h3.875l1.937-4.055-.484,4.055h7.387l1.453-9.327C953.146,214.427,949.088,208.5,943.461,206.409Z" transform="translate(-696.183 -196.73)" fill="#2f2e41"/>
      <ellipse id="Ellipse_115" data-name="Ellipse 115" cx="5.757" cy="5.757" rx="5.757" ry="5.757" transform="translate(243.645 -0.852)" fill="#2f2e41"/>
    </g>
    <rect id="Rectangle_1621" data-name="Rectangle 1621" width="158.534" height="101.432" transform="translate(25.567 4.831)" fill="#3f3d56"/>
    <rect id="Rectangle_1622" data-name="Rectangle 1622" width="71.378" height="83.024" transform="translate(108.215 23.145)" fill="#3182ce"/>
    <rect id="Rectangle_1623" data-name="Rectangle 1623" width="43.291" height="1.746" transform="translate(132.358 30.87)" fill="#fff"/>
    <rect id="Rectangle_1624" data-name="Rectangle 1624" width="43.291" height="1.746" transform="translate(132.358 34.71)" fill="#fff"/>
    <rect id="Rectangle_1625" data-name="Rectangle 1625" width="14.663" height="1.746" transform="translate(132.358 38.551)" fill="#fff"/>
    <rect id="Rectangle_1626" data-name="Rectangle 1626" width="43.291" height="1.746" transform="translate(43.462 68.41)" fill="#fff"/>
    <rect id="Rectangle_1627" data-name="Rectangle 1627" width="43.291" height="1.746" transform="translate(43.462 72.251)" fill="#fff"/>
    <rect id="Rectangle_1628" data-name="Rectangle 1628" width="14.663" height="1.746" transform="translate(43.462 76.091)" fill="#fff"/>
    <rect id="Rectangle_1629" data-name="Rectangle 1629" width="43.291" height="1.746" transform="translate(122.215 52.283)" fill="#fff"/>
    <rect id="Rectangle_1630" data-name="Rectangle 1630" width="43.291" height="1.746" transform="translate(122.215 56.124)" fill="#fff"/>
    <rect id="Rectangle_1631" data-name="Rectangle 1631" width="43.291" height="1.746" transform="translate(122.215 59.881)" fill="#fff"/>
    <rect id="Rectangle_1632" data-name="Rectangle 1632" width="43.291" height="1.746" transform="translate(122.215 63.637)" fill="#fff"/>
    <rect id="Rectangle_1633" data-name="Rectangle 1633" width="43.291" height="1.746" transform="translate(122.215 67.394)" fill="#fff"/>
    <rect id="Rectangle_1634" data-name="Rectangle 1634" width="43.291" height="1.746" transform="translate(122.215 71.151)" fill="#fff"/>
    <rect id="Rectangle_1635" data-name="Rectangle 1635" width="43.291" height="1.746" transform="translate(122.215 74.907)" fill="#fff"/>
    <rect id="Rectangle_1636" data-name="Rectangle 1636" width="43.291" height="1.746" transform="translate(122.215 78.664)" fill="#fff"/>
    <rect id="Rectangle_1637" data-name="Rectangle 1637" width="43.291" height="1.746" transform="translate(122.215 82.421)" fill="#fff"/>
    <rect id="Rectangle_1638" data-name="Rectangle 1638" width="43.291" height="1.746" transform="translate(122.215 86.178)" fill="#fff"/>
    <rect id="Rectangle_1639" data-name="Rectangle 1639" width="43.291" height="1.746" transform="translate(122.215 89.934)" fill="#fff"/>
    <path id="Path_4659" data-name="Path 4659" d="M280.749,296.354a15.735,15.735,0,0,1-5.855,12.264,15.548,15.548,0,0,1-2.158,1.471,15.247,15.247,0,0,1-1.413.708,15.62,15.62,0,0,1-5.051,1.279q-.642.054-1.3.053a15.585,15.585,0,0,1-2.581-.212c-.3-.047-.6-.105-.89-.173a15.171,15.171,0,0,1-1.516-.421,15.739,15.739,0,0,1-5.536-3.219,14.36,14.36,0,0,1-1.174-1.168,15.773,15.773,0,1,1,27.471-10.581Z" transform="translate(-199.868 -255.699)" fill="#3182ce"/>
    <path id="Path_4660" data-name="Path 4660" d="M568.949,374.369a26.3,26.3,0,0,0-26.3,26.3h0a7.7,7.7,0,0,1-7.7,7.7H522.177a22.916,22.916,0,0,0-22.916,22.916h69.687V374.369Z" transform="translate(-384.941 -325.115)" fill="#3f3d56"/>
    <rect id="Rectangle_1640" data-name="Rectangle 1640" width="3.381" height="101.432" transform="translate(103.05 4.831)" fill="#2f2e41"/>
    <path id="Path_4661" data-name="Path 4661" d="M111.451,651.428c.032,3.264-1.9,4.423-4.291,4.446h-.166q-.166,0-.329-.012c-2.162-.132-3.852-1.314-3.882-4.349-.031-3.142,3.946-7.145,4.244-7.441h0l.017-.017S111.419,648.164,111.451,651.428Z" transform="translate(-91.499 -524.714)" fill="#d0cde1"/>
    <ellipse id="Ellipse_116" data-name="Ellipse 116" cx="15.593" cy="1.101" rx="15.593" ry="1.101" transform="translate(0 129.6)" fill="#d0cde1"/>
    <g id="Group_1262" data-name="Group 1262" transform="translate(167.743 91.801)">
      <circle id="Ellipse_117" data-name="Ellipse 117" cx="11.74" cy="11.74" r="11.74" transform="translate(0)" fill="#69f0ae"/>
      <path id="Path_4662" data-name="Path 4662" d="M380.475,480.97l4.4,4.036,6.237-9.172,2.2,1.834-8.438,11.007-6.237-6.971Z" transform="translate(-373.657 -471.004)" fill="#fff"/>
    </g>
  </g>
</svg>
</template>

<script>
export default {
  name: 'PersonalFileImage'
}
</script>