<template>
   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="240.158" height="196.543" viewBox="0 0 240.158 196.543">
  <defs>
    <linearGradient id="linear-gradient" x1="0.141" y1="1.023" x2="0.929" y2="-0.01" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="gray" stop-opacity="0.251"/>
      <stop offset="0.54" stop-color="gray" stop-opacity="0.122"/>
      <stop offset="1" stop-color="gray" stop-opacity="0.102"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="0.5" y1="1" x2="0.5" y2="0" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-3" x1="-1.429" y1="1.019" x2="-0.642" y2="-0.015" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-4" x1="-2.26" y1="1" x2="-2.26" y2="0" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-5" x1="0.141" y1="1.022" x2="0.928" y2="-0.011" xlink:href="#linear-gradient"/>
  </defs>
  <g id="undraw_swipe_profiles1_i6mr" transform="translate(0 -0.01)">
    <g id="Group_1277" data-name="Group 1277" transform="translate(148.403 0.01)" opacity="0.5">
      <path id="Path_4692" data-name="Path 4692" d="M799.433,63,715,63.206a3.469,3.469,0,0,0-3.461,3.476l.371,157.915a3.469,3.469,0,0,0,3.492,3.459l84.432-.206a3.469,3.469,0,0,0,3.461-3.476l-.383-157.917A3.469,3.469,0,0,0,799.433,63Z" transform="translate(-711.54 -63)" fill="url(#linear-gradient)"/>
    </g>
    <rect id="Rectangle_1648" data-name="Rectangle 1648" width="88.904" height="160.472" rx="13.64" transform="translate(149.633 2.372) rotate(-0.14)" fill="#fff"/>
    <path id="_Path_" data-name="&lt;Path&gt;" d="M789.8,87.391a7.207,7.207,0,0,1-7.087,6.148L752,93.609a7.207,7.207,0,0,1-7.11-6.112l-16.264.041a3.377,3.377,0,0,0-3.37,3.385l.353,145.673a3.377,3.377,0,0,0,3.39,3.37l77.7-.188a3.377,3.377,0,0,0,3.37-3.385L809.723,90.72a3.377,3.377,0,0,0-3.385-3.37Z" transform="translate(-573.373 -81.157)" fill="#3182ce" opacity="0.3"/>
    <g id="Group_1278" data-name="Group 1278" transform="translate(168.958 17.591)" opacity="0.5">
      <path id="Path_4693" data-name="Path 4693" d="M844.294,158.134a25.9,25.9,0,1,0-40.352,21.5l.015.114a8.863,8.863,0,0,0,2.938,1.869l.033-.114c1.211,1.041,6.318,2.707,12.189,2.692h.127a23.789,23.789,0,0,0,11.3-2.575s.03-.069.079-.2a9.227,9.227,0,0,0,2.443-1.673l.041-.295A25.873,25.873,0,0,0,844.294,158.134Z" transform="translate(-792.49 -132.234)" fill="url(#linear-gradient-2)"/>
    </g>
    <circle id="Ellipse_152" data-name="Ellipse 152" cx="25.124" cy="25.124" r="25.124" transform="translate(169.738 18.369)" fill="#f5f5f5"/>
    <rect id="Rectangle_1649" data-name="Rectangle 1649" width="19.812" height="1.239" rx="0.62" transform="translate(183.381 8.367) rotate(-0.86)" fill="#dbdbdb"/>
    <circle id="Ellipse_153" data-name="Ellipse 153" cx="0.744" cy="0.744" r="0.744" transform="translate(206.654 7.769) rotate(-0.86)" fill="#dbdbdb"/>
    <rect id="Rectangle_1650" data-name="Rectangle 1650" width="41.137" height="4.571" transform="translate(172.77 78.701)" fill="#f5f5f5"/>
    <rect id="Rectangle_1651" data-name="Rectangle 1651" width="59.42" height="4.571" transform="translate(163.628 87.842)" fill="#f5f5f5"/>
    <g id="Group_1279" data-name="Group 1279" transform="translate(0 0.01)" opacity="0.5">
      <path id="Path_4694" data-name="Path 4694" d="M130.982,63l84.432.206a3.469,3.469,0,0,1,3.461,3.476L218.5,224.6a3.469,3.469,0,0,1-3.492,3.459l-84.432-.206a3.469,3.469,0,0,1-3.461-3.476L127.5,66.456A3.469,3.469,0,0,1,130.982,63Z" transform="translate(-127.12 -63)" fill="url(#linear-gradient-3)"/>
    </g>
    <rect id="Rectangle_1652" data-name="Rectangle 1652" width="88.904" height="160.472" rx="13.64" transform="translate(90.134 162.842) rotate(-179.86)" fill="#fff"/>
    <path id="_Path_2" data-name="&lt;Path&gt;" d="M161,87.391a7.207,7.207,0,0,0,7.087,6.148l30.708.074a7.207,7.207,0,0,0,7.11-6.112l16.264.041a3.377,3.377,0,0,1,3.37,3.385L225.19,236.6a3.377,3.377,0,0,1-3.387,3.367l-77.7-.188a3.377,3.377,0,0,1-3.37-3.385l.353-145.673a3.377,3.377,0,0,1,3.385-3.37Z" transform="translate(-137.274 -81.157)" fill="#3182ce" opacity="0.3"/>
    <g id="Group_1280" data-name="Group 1280" transform="translate(19.395 17.591)" opacity="0.5">
      <path id="Path_4695" data-name="Path 4695" d="M203.5,158.134a25.9,25.9,0,1,1,40.352,21.5l-.015.114a8.865,8.865,0,0,1-2.938,1.869l-.033-.114c-1.211,1.041-6.318,2.707-12.189,2.692h-.127a23.789,23.789,0,0,1-11.3-2.575s-.03-.069-.079-.2a9.228,9.228,0,0,1-2.443-1.673l-.041-.295A25.873,25.873,0,0,1,203.5,158.134Z" transform="translate(-203.5 -132.234)" fill="url(#linear-gradient-4)"/>
    </g>
    <circle id="Ellipse_154" data-name="Ellipse 154" cx="25.124" cy="25.124" r="25.124" transform="translate(20.172 18.369)" fill="#f5f5f5"/>
    <rect id="Rectangle_1653" data-name="Rectangle 1653" width="19.812" height="1.239" rx="0.62" transform="translate(56.756 9.603) rotate(-179.14)" fill="#dbdbdb"/>
    <circle id="Ellipse_155" data-name="Ellipse 155" cx="0.744" cy="0.744" r="0.744" transform="translate(31.993 9.23) rotate(-89.14)" fill="#dbdbdb"/>
    <rect id="Rectangle_1654" data-name="Rectangle 1654" width="41.137" height="4.571" transform="translate(67.388 83.272) rotate(180)" fill="#f5f5f5"/>
    <rect id="Rectangle_1655" data-name="Rectangle 1655" width="59.42" height="4.571" transform="translate(76.53 92.413) rotate(180)" fill="#f5f5f5"/>
    <g id="Group_1281" data-name="Group 1281" transform="translate(74.001 31.497)" opacity="0.5">
      <path id="Path_4696" data-name="Path 4696" d="M506.433,187,422,187.206a3.469,3.469,0,0,0-3.461,3.476l.371,157.915a3.469,3.469,0,0,0,3.492,3.459l84.432-.206a3.469,3.469,0,0,0,3.461-3.476l-.383-157.917A3.469,3.469,0,0,0,506.433,187Z" transform="translate(-418.54 -187)" fill="url(#linear-gradient-5)"/>
    </g>
    <rect id="Rectangle_1656" data-name="Rectangle 1656" width="88.904" height="160.472" rx="13.64" transform="translate(75.232 33.86) rotate(-0.14)" fill="#fff"/>
    <path id="_Path_3" data-name="&lt;Path&gt;" d="M496.8,211.391a7.206,7.206,0,0,1-7.087,6.148l-30.71.071a7.207,7.207,0,0,1-7.11-6.112l-16.264.041a3.377,3.377,0,0,0-3.37,3.385l.353,145.673a3.377,3.377,0,0,0,3.39,3.37l77.7-.188a3.377,3.377,0,0,0,3.37-3.385l-.353-145.673a3.377,3.377,0,0,0-3.385-3.37Z" transform="translate(-354.775 -173.669)" fill="#3182ce" opacity="0.4"/>
    <g id="Group_1282" data-name="Group 1282" transform="translate(94.556 49.078)" opacity="0.5">
      <path id="Path_4697" data-name="Path 4697" d="M551.294,282.134a25.9,25.9,0,1,0-40.352,21.5l.015.114a8.864,8.864,0,0,0,2.938,1.869l.033-.114c1.211,1.041,6.318,2.707,12.189,2.692h.127a23.788,23.788,0,0,0,11.3-2.575s.031-.069.079-.2a9.228,9.228,0,0,0,2.443-1.673l.041-.295A25.873,25.873,0,0,0,551.294,282.134Z" transform="translate(-499.49 -256.234)" fill="url(#linear-gradient-2)"/>
    </g>
    <circle id="Ellipse_156" data-name="Ellipse 156" cx="25.124" cy="25.124" r="25.124" transform="translate(95.336 49.857)" fill="#f5f5f5"/>
    <rect id="Rectangle_1657" data-name="Rectangle 1657" width="19.812" height="1.239" rx="0.62" transform="translate(108.977 39.853) rotate(-0.86)" fill="#dbdbdb"/>
    <circle id="Ellipse_157" data-name="Ellipse 157" cx="0.744" cy="0.744" r="0.744" transform="translate(132.251 39.255) rotate(-0.86)" fill="#dbdbdb"/>
    <rect id="Rectangle_1658" data-name="Rectangle 1658" width="41.137" height="4.571" transform="translate(98.368 110.188)" fill="#f5f5f5"/>
    <rect id="Rectangle_1659" data-name="Rectangle 1659" width="59.42" height="4.571" transform="translate(89.226 119.33)" fill="#f5f5f5"/>
    <path id="Path_4698" data-name="Path 4698" d="M387.152,618.472v11.3H326.877v3.74a.792.792,0,0,1-1.148.708l-17.47-8.735a.876.876,0,0,1-.038-1.547l17.775-10a.582.582,0,0,1,.866.508l-.056,3.944Z" transform="translate(-261.901 -473.975)" fill="#3ad29f"/>
    <path id="Path_4699" data-name="Path 4699" d="M696.63,618.472v11.3h60.276v3.74a.792.792,0,0,0,1.148.708l17.471-8.735a.876.876,0,0,0,.038-1.547l-17.775-10a.582.582,0,0,0-.866.508l.056,3.944Z" transform="translate(-552.013 -473.975)" fill="#3ad29f"/>
    <g id="Group_1283" data-name="Group 1283" transform="translate(121.222 135.327)" opacity="0.5">
      <circle id="Ellipse_158" data-name="Ellipse 158" cx="13.712" cy="13.712" r="13.712" fill="url(#linear-gradient-2)"/>
    </g>
    <circle id="Ellipse_159" data-name="Ellipse 159" cx="11.427" cy="11.427" r="11.427" transform="translate(123.507 137.613)" fill="#3182ce"/>
    <path id="Path_4700" data-name="Path 4700" d="M549.981,398.92s-5.985.49-4.4,11.4a8.6,8.6,0,0,0,2.849,1.813l3.367-11.4Z" transform="translate(-439.12 -313.609)" fill="#fda57d"/>
    <path id="Path_4701" data-name="Path 4701" d="M634.873,398.92s5.985.49,4.4,11.4a8.6,8.6,0,0,1-2.849,1.813l-3.367-11.4Z" transform="translate(-504.586 -313.609)" fill="#fda57d"/>
    <path id="Path_4702" data-name="Path 4702" d="M551.783,328.54s-2.849,8.288-4.4,7.511c0,0,14.982,12.95,28.232,0a39.473,39.473,0,0,0-5.7-7.511Z" transform="translate(-440.663 -261.101)" fill="#333"/>
    <circle id="Ellipse_160" data-name="Ellipse 160" cx="11.137" cy="11.137" r="11.137" transform="translate(109.597 55.524)" fill="#333"/>
    <path id="Path_4703" data-name="Path 4703" d="M576.157,398.92H556.731l-1.813,7.77s-1.064,3.6.254,5.18,13.7,5.18,22.793.254a10.134,10.134,0,0,0,.254-6.475c-1.036-3.626-.254-.254-.254-.254Z" transform="translate(-445.984 -313.609)" opacity="0.1"/>
    <path id="Path_4704" data-name="Path 4704" d="M577.177,398.92H557.751l-1.813,7.77s-1.064,3.6.254,5.18,13.7,5.18,22.793.254a10.135,10.135,0,0,0,.254-6.475c-1.036-3.626-.254-.254-.254-.254Z" transform="translate(-446.745 -313.609)" opacity="0.1"/>
    <path id="Path_4705" data-name="Path 4705" d="M576.607,398.92H557.181l-1.813,7.77s-1.064,3.6.254,5.18,13.7,5.18,22.793.254a10.135,10.135,0,0,0,.254-6.475c-1.036-3.626-.254-.254-.254-.254Z" transform="translate(-446.32 -313.609)" fill="#3182ce"/>
    <path id="Path_4706" data-name="Path 4706" d="M460,310.55h7.77v6.209a3.885,3.885,0,0,1-3.885,3.885h0A3.885,3.885,0,0,1,460,316.759Z" transform="translate(-343.192 -231.684)" opacity="0.1"/>
    <path id="Path_4707" data-name="Path 4707" d="M460,309.41h7.77v6.216a3.885,3.885,0,0,1-3.885,3.885h0A3.885,3.885,0,0,1,460,315.626V309.41Z" transform="translate(-343.192 -230.834)" fill="#fda57d"/>
    <path id="Path_4708" data-name="Path 4708" d="M587.22,374.074a11.173,11.173,0,0,0,7.77.02v-.955h-7.77Z" transform="translate(-470.386 -294.376)" opacity="0.1"/>
    <circle id="Ellipse_161" data-name="Ellipse 161" cx="11.137" cy="11.137" r="11.137" transform="translate(109.597 57.942)" fill="#fda57d"/>
    <path id="Path_4709" data-name="Path 4709" d="M560.64,294.676h21.239s-1.813-8.575-9.842-8.029S560.64,294.676,560.64,294.676Z" transform="translate(-450.556 -229.827)" fill="#333"/>
    <ellipse id="Ellipse_162" data-name="Ellipse 162" cx="1.036" cy="1.943" rx="1.036" ry="1.943" transform="translate(108.789 66.662)" fill="#fda57d"/>
    <ellipse id="Ellipse_163" data-name="Ellipse 163" cx="1.036" cy="1.943" rx="1.036" ry="1.943" transform="translate(130.546 66.662)" fill="#fda57d"/>
    <path id="Path_4710" data-name="Path 4710" d="M560.64,295.816h21.239s-1.813-8.575-9.842-8.029S560.64,295.816,560.64,295.816Z" transform="translate(-450.556 -230.678)" opacity="0.1"/>
    <path id="Path_4711" data-name="Path 4711" d="M837.981,272.92s-5.985.49-4.4,11.4a8.6,8.6,0,0,0,2.849,1.813l3.367-11.4Z" transform="translate(-653.987 -219.605)" fill="#4d8af0"/>
    <path id="Path_4712" data-name="Path 4712" d="M922.873,272.92s5.985.49,4.4,11.4a8.6,8.6,0,0,1-2.849,1.813l-3.367-11.4Z" transform="translate(-719.454 -219.605)" fill="#4d8af0"/>
    <circle id="Ellipse_164" data-name="Ellipse 164" cx="11.137" cy="11.137" r="11.137" transform="translate(182.729 23.529)" fill="#333"/>
    <path id="Path_4713" data-name="Path 4713" d="M864.157,272.92H844.731l-1.813,7.77s-1.064,3.6.254,5.18,13.7,5.18,22.793.254a10.134,10.134,0,0,0,.254-6.475c-1.036-3.626-.254-.254-.254-.254Z" transform="translate(-660.852 -219.605)" fill="#4d8af0"/>
    <path id="Path_4714" data-name="Path 4714" d="M865.177,272.92H845.751l-1.813,7.77s-1.064,3.6.254,5.18,13.7,5.18,22.793.254a10.135,10.135,0,0,0,.254-6.475c-1.036-3.626-.254-.254-.254-.254Z" transform="translate(-661.613 -219.605)" fill="#4d8af0"/>
    <path id="Path_4715" data-name="Path 4715" d="M864.607,272.92H845.181l-1.813,7.77s-1.064,3.6.254,5.18,13.7,5.18,22.793.254a10.134,10.134,0,0,0,.254-6.475c-1.036-3.626-.254-.254-.254-.254Z" transform="translate(-661.187 -219.605)" fill="#4d8af0"/>
    <path id="Path_4716" data-name="Path 4716" d="M748,184.55h7.77v6.209a3.885,3.885,0,0,1-3.885,3.885h0A3.885,3.885,0,0,1,748,190.759Z" transform="translate(-558.059 -137.68)" opacity="0.1"/>
    <path id="Path_4717" data-name="Path 4717" d="M748,183.41h7.77v6.216a3.885,3.885,0,0,1-3.885,3.885h0A3.885,3.885,0,0,1,748,189.626Z" transform="translate(-558.059 -136.829)" fill="#fdb797"/>
    <path id="Path_4718" data-name="Path 4718" d="M875.22,248.074a11.173,11.173,0,0,0,7.77.02v-.955h-7.77Z" transform="translate(-685.254 -200.371)" opacity="0.1"/>
    <circle id="Ellipse_165" data-name="Ellipse 165" cx="11.137" cy="11.137" r="11.137" transform="translate(182.729 25.947)" fill="#fdb797"/>
    <path id="Path_4719" data-name="Path 4719" d="M848.64,169.816h21.239s-1.813-8.575-9.842-8.029S848.64,169.816,848.64,169.816Z" transform="translate(-665.423 -136.673)" opacity="0.1"/>
    <path id="Path_4720" data-name="Path 4720" d="M848.64,168.676h21.239s-1.813-8.575-9.842-8.029S848.64,168.676,848.64,168.676Z" transform="translate(-665.423 -135.822)" fill="#333"/>
    <ellipse id="Ellipse_166" data-name="Ellipse 166" cx="1.036" cy="1.943" rx="1.036" ry="1.943" transform="translate(181.922 34.667)" fill="#fdb797"/>
    <ellipse id="Ellipse_167" data-name="Ellipse 167" cx="1.036" cy="1.943" rx="1.036" ry="1.943" transform="translate(203.678 34.667)" fill="#fdb797"/>
    <path id="Path_4721" data-name="Path 4721" d="M854.162,151.781a3.946,3.946,0,0,1,1.432-2.123,7.39,7.39,0,0,1,1.816-.777,13.865,13.865,0,0,0,2.638-1.27,16.95,16.95,0,0,1,2.872-1.668,9.528,9.528,0,0,1,5.63.17,4.737,4.737,0,0,1,1.315.49,4.986,4.986,0,0,1,1.168,1.13l2.93,3.54a5.618,5.618,0,0,1,.729,1.016,3.529,3.529,0,0,1,.333,1.158,2.672,2.672,0,0,1-2.811,3.21,9.334,9.334,0,0,1-2.882-.521,57.029,57.029,0,0,0-9.256-2.087,26.11,26.11,0,0,0-4.71-.152c-.493.033-1.145.254-1.445-.254C853.659,153.225,854.028,152.21,854.162,151.781Z" transform="translate(-669.295 -124.6)" fill="#333"/>
    <path id="Path_4722" data-name="Path 4722" d="M252.981,271.92s-5.985.49-4.4,11.4a8.6,8.6,0,0,0,2.849,1.813l3.367-11.4Z" transform="translate(-217.537 -218.859)" fill="#be7c5e"/>
    <path id="Path_4723" data-name="Path 4723" d="M337.873,271.92s5.985.49,4.4,11.4a8.6,8.6,0,0,1-2.849,1.813l-3.367-11.4Z" transform="translate(-283.004 -218.859)" fill="#be7c5e"/>
    <path id="Path_4724" data-name="Path 4724" d="M262.935,201.54s-.46,1.341-1.112,2.892c-1.425,3.4.2,16.432,3.611,17.821a19.381,19.381,0,0,0,14.083.653c4.543-1.656,5.942-16.506,2.732-20.109-.376-.424-.762-.846-1.181-1.254Z" transform="translate(-227.232 -166.35)" fill="#333"/>
    <circle id="Ellipse_168" data-name="Ellipse 168" cx="11.137" cy="11.137" r="11.137" transform="translate(34.179 23.275)" fill="#333"/>
    <path id="Path_4725" data-name="Path 4725" d="M279.157,271.92H259.731l-1.813,7.77s-1.064,3.6.254,5.18,13.7,5.18,22.793.254a10.134,10.134,0,0,0,.254-6.475c-1.036-3.626-.254-.254-.254-.254Z" transform="translate(-224.401 -218.859)" opacity="0.1"/>
    <path id="Path_4726" data-name="Path 4726" d="M280.177,271.92H260.751l-1.813,7.77s-1.064,3.6.254,5.18,13.7,5.18,22.793.254a10.135,10.135,0,0,0,.254-6.475c-1.036-3.626-.254-.254-.254-.254Z" transform="translate(-225.162 -218.859)" opacity="0.1"/>
    <path id="Path_4727" data-name="Path 4727" d="M279.607,271.92H260.181l-1.813,7.77s-1.064,3.6.254,5.18,13.7,5.18,22.793.254a10.134,10.134,0,0,0,.254-6.475c-1.036-3.626-.254-.254-.254-.254Z" transform="translate(-224.737 -218.859)" fill="#f55f44"/>
    <path id="Path_4728" data-name="Path 4728" d="M163,183.55h7.77v6.209a3.885,3.885,0,0,1-3.885,3.885h0A3.885,3.885,0,0,1,163,189.759Z" transform="translate(-121.609 -136.933)" opacity="0.1"/>
    <path id="Path_4729" data-name="Path 4729" d="M163,182.41h7.77v6.216a3.885,3.885,0,0,1-3.885,3.885h0A3.885,3.885,0,0,1,163,188.626Z" transform="translate(-121.609 -136.083)" fill="#be7c5e"/>
    <path id="Path_4730" data-name="Path 4730" d="M290.22,247.075a11.173,11.173,0,0,0,7.77.02v-.955h-7.77Z" transform="translate(-248.804 -199.625)" opacity="0.1"/>
    <circle id="Ellipse_169" data-name="Ellipse 169" cx="11.137" cy="11.137" r="11.137" transform="translate(34.179 25.693)" fill="#be7c5e"/>
    <path id="Path_4731" data-name="Path 4731" d="M263.64,167.676h21.239s-1.813-8.575-9.842-8.029S263.64,167.676,263.64,167.676Z" transform="translate(-228.973 -135.076)" fill="#333"/>
    <ellipse id="Ellipse_170" data-name="Ellipse 170" cx="1.036" cy="1.943" rx="1.036" ry="1.943" transform="translate(33.372 34.413)" fill="#be7c5e"/>
    <ellipse id="Ellipse_171" data-name="Ellipse 171" cx="1.036" cy="1.943" rx="1.036" ry="1.943" transform="translate(55.128 34.413)" fill="#be7c5e"/>
    <path id="Path_4732" data-name="Path 4732" d="M263.64,168.816h21.239s-1.813-8.575-9.842-8.029S263.64,168.816,263.64,168.816Z" transform="translate(-228.973 -135.927)" opacity="0.1"/>
  </g>
</svg>
</template>

<script>
export default {
  name: 'SwipeProfileImage'
}
</script>