<template>
    <svg id="undraw_task_31wc" xmlns="http://www.w3.org/2000/svg" width="180.742" height="126.547" viewBox="0 0 180.742 126.547">
  <path id="Path_4617" data-name="Path 4617" d="M889.674,320.231c0,17.693-10.518,23.87-23.492,23.87s-23.493-6.177-23.493-23.87,23.493-40.2,23.493-40.2S889.674,302.539,889.674,320.231Z" transform="translate(-710.975 -245.712)" fill="#f2f2f2"/>
  <path id="Path_4618" data-name="Path 4618" d="M860.086,262.823l.241-14.807L870.34,229.7l-9.975,16,.108-6.658,6.9-13.253L860.5,237.273h0L860.7,225.3l7.39-10.551-7.359,8.668.122-21.957-.764,29.067.063-1.2-7.513-11.5,7.393,13.8-.7,13.373-.021-.355-8.661-12.1,8.635,13.356-.088,1.672-.016.025.007.137-1.776,33.929h2.373l.285-17.525,8.614-13.323Z" transform="translate(-705.735 -167.14)" fill="#3f3d56"/>
  <path id="Path_4619" data-name="Path 4619" d="M535.709,168.273c0,22.882-13.6,30.872-30.384,30.872s-30.383-7.99-30.383-30.872,30.384-51.992,30.384-51.992S535.709,145.391,535.709,168.273Z" transform="translate(-405.874 -109.857)" fill="#f2f2f2"/>
  <path id="Path_4620" data-name="Path 4620" d="M517.829,117.073l.311-19.15,12.95-23.692-12.9,20.688.14-8.611,8.925-17.141-8.888,14.862h0l.252-15.487L528.174,54.9l-9.518,11.211.157-28.4L517.826,75.3l.081-1.551L508.19,58.878l9.561,17.85-.905,17.3-.027-.459-11.2-15.652,11.168,17.274-.113,2.163-.02.033.009.178-2.3,43.882h3.069l.368-22.666,11.141-17.232Z" transform="translate(-419.484 -31.285)" fill="#3f3d56"/>
  <path id="Path_4621" data-name="Path 4621" d="M246.32,727.227c0,1.722-5,3.33-13.652,4.685C217,734.368,189.373,736,157.909,736c-48.826,0-88.409-3.927-88.409-8.771,0-.669.76-1.325,2.2-1.952a37.714,37.714,0,0,1,7.354-2.019,251.638,251.638,0,0,1,28.585-3.245c13.972-.959,30.869-1.53,49.1-1.552q.585,0,1.174,0,3.294,0,6.53.024,1.52.01,3.027.027c10.736.114,20.9.419,30.128.879l1.232.063.419.022c.037,0,.075,0,.112.007q2.721.143,5.323.3.853.051,1.692.107c5.429.353,10.441.763,14.948,1.225q1.155.117,2.266.24c5.7.625,10.506,1.336,14.206,2.107C243.26,724.6,246.32,725.879,246.32,727.227Z" transform="translate(-69.5 -609.451)" fill="#3f3d56"/>
  <ellipse id="Ellipse_109" data-name="Ellipse 109" cx="19.264" cy="4.464" rx="19.264" ry="4.464" transform="translate(109.005 112.764)" opacity="0.1"/>
  <path id="Path_4622" data-name="Path 4622" d="M987.1,751.611c0,1.722-5,3.33-13.652,4.685-6.538-.714-11.064-2.255-11.064-4.041,0-2.223,7.012-4.066,16.188-4.407C984.037,748.988,987.1,750.264,987.1,751.611Z" transform="translate(-810.277 -633.836)" opacity="0.1"/>
  <path id="Path_4623" data-name="Path 4623" d="M176.058,732.052c0,2.941-20.966,5.325-46.828,5.325-25.619,0-46.433-2.338-46.822-5.242,4.973-2.171,18.064-4.034,35.939-5.264,3.493-.094,7.137-.144,10.883-.144C155.092,726.728,176.058,729.111,176.058,732.052Z" transform="translate(-80.209 -616.313)" opacity="0.1"/>
  <rect id="Rectangle_1597" data-name="Rectangle 1597" width="77.681" height="116.366" transform="translate(9.554)" fill="#3f3d56"/>
  <rect id="Rectangle_1598" data-name="Rectangle 1598" width="72.983" height="35.708" transform="translate(14.252 40.407)" fill="#2f2e41"/>
  <rect id="Rectangle_1599" data-name="Rectangle 1599" width="72.2" height="33.986" transform="translate(43.696 41.19)" fill="#3f3d56"/>
  <rect id="Rectangle_1600" data-name="Rectangle 1600" width="16.131" height="5.795" transform="translate(48.12 46.202)" fill="#3182ce"/>
  <rect id="Rectangle_1601" data-name="Rectangle 1601" width="59.357" height="1.566" transform="translate(52.114 56.382)" fill="#3182ce"/>
  <rect id="Rectangle_1602" data-name="Rectangle 1602" width="59.357" height="1.566" transform="translate(52.114 60.454)" fill="#3182ce"/>
  <rect id="Rectangle_1603" data-name="Rectangle 1603" width="59.357" height="1.566" transform="translate(52.114 64.526)" fill="#3182ce"/>
  <rect id="Rectangle_1604" data-name="Rectangle 1604" width="59.357" height="1.566" transform="translate(52.114 68.598)" fill="#3182ce"/>
  <rect id="Rectangle_1605" data-name="Rectangle 1605" width="16.131" height="5.795" transform="translate(14.722 13.156)" fill="#f2f2f2"/>
  <rect id="Rectangle_1606" data-name="Rectangle 1606" width="59.357" height="1.566" transform="translate(18.716 23.336)" fill="#f2f2f2"/>
  <rect id="Rectangle_1607" data-name="Rectangle 1607" width="59.357" height="1.566" transform="translate(18.716 27.408)" fill="#f2f2f2"/>
  <rect id="Rectangle_1608" data-name="Rectangle 1608" width="59.357" height="1.566" transform="translate(18.716 31.48)" fill="#f2f2f2"/>
  <rect id="Rectangle_1609" data-name="Rectangle 1609" width="59.357" height="1.566" transform="translate(18.716 35.552)" fill="#f2f2f2"/>
  <rect id="Rectangle_1610" data-name="Rectangle 1610" width="16.131" height="5.795" transform="translate(15.348 79.718)" fill="#f2f2f2"/>
  <rect id="Rectangle_1611" data-name="Rectangle 1611" width="59.357" height="1.566" transform="translate(19.342 89.898)" fill="#f2f2f2"/>
  <rect id="Rectangle_1612" data-name="Rectangle 1612" width="59.357" height="1.566" transform="translate(19.342 93.969)" fill="#f2f2f2"/>
  <rect id="Rectangle_1613" data-name="Rectangle 1613" width="59.357" height="1.566" transform="translate(19.342 98.042)" fill="#f2f2f2"/>
  <rect id="Rectangle_1614" data-name="Rectangle 1614" width="59.357" height="1.566" transform="translate(19.342 102.114)" fill="#f2f2f2"/>
  <path id="Path_4624" data-name="Path 4624" d="M792.563,194.952s3.22,4.126,2.818,7.044,6.642-4.025,6.642-4.025-2.415-5.032-1.107-7.447S792.563,194.952,792.563,194.952Z" transform="translate(-669.388 -171.025)" fill="#ffb9b9"/>
  <path id="Path_4625" data-name="Path 4625" d="M796.673,709.342s4.227,4.629,3.522,5.635-13.082,4.83-14.491,4.629-2.113-1.208-1.61-1.509,3.723-2.013,3.723-2.013l2.717-3.12s2.013-1.107,2.013-1.711S796.673,709.342,796.673,709.342Z" transform="translate(-662.227 -601.89)" fill="#2f2e41"/>
  <path id="Path_4626" data-name="Path 4626" d="M807.306,739.469a19.443,19.443,0,0,1-1.912,2.717c-.3.1,1.51,3.723,1.51,3.723l4.227-1.308,2.315-1.912-.5-2.616Z" transform="translate(-680.005 -626.884)" fill="#ffb9b9"/>
  <path id="Path_4627" data-name="Path 4627" d="M762.964,446.464l-2.013,8.956s-6.944,15.6-2.113,18.315L769.4,493.963l5.635-2.516-9.46-20.73,4.327-23.85Z" transform="translate(-639.99 -383.793)" fill="#d0cde1"/>
  <path id="Path_4628" data-name="Path 4628" d="M762.964,446.464l-2.013,8.956s-6.944,15.6-2.113,18.315L769.4,493.963l5.635-2.516-9.46-20.73,4.327-23.85Z" transform="translate(-639.99 -383.793)" opacity="0.1"/>
  <path id="Path_4629" data-name="Path 4629" d="M790.452,451.794h-1.021a56.9,56.9,0,0,0,.518,9.258c.7,5.132,2.516,16.906,2.516,16.906s-.2,2.214.4,2.918.7-.2.805,1.409,1.057,12.8,1.057,12.8.654,2.29-.05,2.793-2.113,3.22-1.107,3.623,7.95.906,8.252.6,0-19.221,0-19.221a30.242,30.242,0,0,0-.4-4.025c-.2-.2-1.107-2.918-.805-3.522a8.475,8.475,0,0,0,.1-2.717c0-.3-.906,0-.1-1.308s.906-11.774.906-11.774,4.327-6.642,3.019-8.353Z" transform="translate(-666.774 -387.714)" fill="#d0cde1"/>
  <circle id="Ellipse_110" data-name="Ellipse 110" cx="6.642" cy="6.642" r="6.642" transform="translate(119.351 12.153)" fill="#ffb9b9"/>
  <path id="Path_4630" data-name="Path 4630" d="M794,230.255s-4.025,1.006-5.635,3.422l-1.409.3v1.409s-2.616,8.353-2.013,11.975,0,10.667-1.006,12.579-1.308,2.315-.8,3.12,1.208,3.522.7,4.73,0,2.415,4.629,2.717,11.17.3,11.17-1.308-.4-6.139,0-7.346a5.728,5.728,0,0,0,.4-3.12c-.2-1.107.4-13.485.4-13.485S800.538,232.871,794,230.255Z" transform="translate(-661.363 -204.416)" fill="#2f2e41"/>
  <path id="Path_4631" data-name="Path 4631" d="M745.228,412.792l-5.535,8.252s-5.837,5.334-3.723,7.749,7.648-7.044,7.648-7.044l6.038-6.843Z" transform="translate(-622.053 -355.857)" fill="#ffb9b9"/>
  <path id="Path_4632" data-name="Path 4632" d="M761.032,752s-.2-1.308-.906-1.308-5.434,3.22-5.434,3.22-6.239.7-3.824,2.013,17.208,1.509,17.309,1.006.3-5.465-.4-5.45-6.34,1.122-6.34,1.122Z" transform="translate(-634.335 -636.197)" fill="#2f2e41"/>
  <path id="Path_4633" data-name="Path 4633" d="M776.973,133.388a1.666,1.666,0,0,1-.759.172c-.271.015-.6,0-.74-.232a1.061,1.061,0,0,1-.092-.483,1.592,1.592,0,0,0-1.861-1.356,2.291,2.291,0,0,0,.3.944,2.02,2.02,0,0,1-1.775-.236l-.1,1.356a1.106,1.106,0,0,1-1.138-.038.631.631,0,0,1,.016-1.009c-.44-.092-.978-.289-1.01-.737-.03-.409.4-.708.485-1.11.065-.328-.115-.684.013-.994.167-.406.774-.51.9-.933a3.657,3.657,0,0,0-.006-.668c.056-.583.789-.825,1.374-.792a2.9,2.9,0,0,0,1.72-.122,4.985,4.985,0,0,0,.621-.581,1.844,1.844,0,0,1,2.141-.186,3.638,3.638,0,0,0,.7.438c.537.182,1.1-.162,1.658-.242a1.378,1.378,0,0,1,1.155.335.945.945,0,0,1,.172,1.139,1.851,1.851,0,0,1,.988.014.638.638,0,0,1,.4.8,1.03,1.03,0,0,0-.125.256c-.029.175.14.325.31.376s.356.041.523.1c.69.252.524,1.355,1.067,1.85a4.326,4.326,0,0,0,.589.36,1.432,1.432,0,0,1,.5,1.73,1.586,1.586,0,0,0-.269.734c.031.37.427.572.7.818a1.64,1.64,0,0,1,.382,1.882c-.255.533-.809.937-.865,1.525-.024.256.052.511.048.768a1.582,1.582,0,0,1-.68,1.194,3.537,3.537,0,0,1-1.305.543c-.219.053-.481.135-.534.354-.063.26.227.5.2.762a.442.442,0,0,1-.177.287.9.9,0,0,1-1.254-.393,2.614,2.614,0,0,1-.172-1.463l.135-1.807c.042-.562.038-1.23-.42-1.558-.507-.363-1.245-.069-1.818-.314a1.666,1.666,0,0,1-.787-1.653,9.675,9.675,0,0,0,.1-1.94c-.133-.794-.839-1.328-1.552-.813C777.36,132.378,777.468,133.1,776.973,133.388Z" transform="translate(-650.508 -118.025)" fill="#2f2e41"/>
  <path id="Path_4634" data-name="Path 4634" d="M799.133,258.347s-4.025,1.61-4.025,5.032.2,7.95-.5,9.46-1.308,2.013-.906,3.22,1.107,1.006,0,1.912-1.006-.6-1.107.906,1.006,1.711,0,2.415-3.623,3.522-2.516,4.428,4.025,3.824,5.032,2.717,1.509-3.925,2.918-3.723,1.61.3,1.409-.7-1.107-1.006.1-1.308,1.711.4,1.308-.6-.7-1.409.1-2.516,1.208-1.409,1.107-2.516,2.214-11.07,2.214-11.07S804.97,257.542,799.133,258.347Z" transform="translate(-667.103 -227.677)" opacity="0.1"/>
  <path id="Path_4635" data-name="Path 4635" d="M792.635,257.166s-4.025,1.61-4.025,5.032.2,7.95-.5,9.46-1.308,2.013-.906,3.22,1.107,1.006,0,1.912-1.006-.6-1.107.906,1.006,1.711,0,2.415-3.623,3.522-2.516,4.428,4.025,3.824,5.032,2.717,1.51-3.925,2.918-3.723,1.61.3,1.409-.7-1.107-1.006.1-1.308,1.711.4,1.308-.6-.7-1.409.1-2.516,1.208-1.409,1.107-2.516,2.214-11.07,2.214-11.07S798.472,256.361,792.635,257.166Z" transform="translate(-661.712 -226.697)" opacity="0.1"/>
  <path id="Path_4636" data-name="Path 4636" d="M795.589,255.394s-4.025,1.61-4.025,5.032.2,7.95-.5,9.46-1.308,2.013-.906,3.22,1.107,1.006,0,1.912-1.006-.6-1.107.906,1.006,1.711,0,2.415-3.623,3.522-2.516,4.428,4.025,3.824,5.032,2.717,1.509-3.925,2.918-3.723,1.61.3,1.409-.7-1.107-1.006.1-1.308,1.711.4,1.308-.6-.7-1.409.1-2.516,1.208-1.409,1.107-2.516,2.214-11.07,2.214-11.07S801.426,254.589,795.589,255.394Z" transform="translate(-664.162 -225.227)" fill="#2f2e41"/>
  <path id="Path_4637" data-name="Path 4637" d="M964.5,663.787c0,8.8,5.523,15.929,12.349,15.929" transform="translate(-812.035 -564.095)" fill="#2f2e41"/>
  <path id="Path_4638" data-name="Path 4638" d="M1036.99,678.844c0-8.9,6.164-16.108,13.781-16.108" transform="translate(-872.177 -563.223)" fill="#3182ce"/>
  <path id="Path_4639" data-name="Path 4639" d="M990.766,668.472c0,8.363,3.522,15.131,7.875,15.131" transform="translate(-833.827 -567.982)" fill="#3182ce"/>
  <path id="Path_4640" data-name="Path 4640" d="M1036.99,657.052c0-11.377,7.125-20.582,15.929-20.582" transform="translate(-872.177 -541.431)" fill="#2f2e41"/>
  <path id="Path_4641" data-name="Path 4641" d="M1021.74,753.344a6.419,6.419,0,0,0,2.279-.43c.528-.376,2.694-.825,2.825-.222s2.632,3,.655,3.014a16.747,16.747,0,0,1-5.121-.629C1021.851,754.757,1021.74,753.344,1021.74,753.344Z" transform="translate(-859.524 -637.611)" fill="#a8a8a8"/>
  <path id="Path_4642" data-name="Path 4642" d="M1027.542,760.094a16.746,16.746,0,0,1-5.121-.629c-.4-.244-.561-1.121-.615-1.526l-.058,0s.111,1.413.638,1.733a16.746,16.746,0,0,0,5.121.629c.571,0,.768-.208.757-.508C1028.184,759.977,1027.966,760.091,1027.542,760.094Z" transform="translate(-859.531 -642.208)" opacity="0.2"/>
</svg>
</template>

<script>
export default {
  name: 'TaskImage'
}
</script>