
<template>
  <main>
    <header class="fixed bg-white w-full">
      <div class="top-border w-full"/>
      <div class="flex justify-end">
        <a class="flex justify-center p-5 text-sm login-link duration-200" href="#">
          Login
        </a>
      </div>
    </header>

    <section class="banner position-relative">
      <h1 class="text-center">Deine Job <br/>website</h1>
      <AgreementImage />
      <div class="bg-image"><Path1Image/></div>
    </section>

    <ul class="flex mb-0 list-none px-4 flex-row tab-buttons duration-200 overflow-hidden" v-bind:class="{'justify-start': openTab === 1, 'justify-center': openTab === 2, 'justify-end': openTab === 3}">
      <li class="text-center">
        <a class="text-xs tab-btn block first" v-on:click="toggleTabs(1)" v-bind:class="{'bg-white': openTab !== 1, 'active text-white': openTab === 1}">
          Arbeitnehmer
        </a>
      </li>
      <li class="text-center">
        <a class="text-xs tab-btn block second" v-on:click="toggleTabs(2)" v-bind:class="{'bg-white': openTab !== 2, 'active text-white': openTab === 2}">
          Arbeitgeber
        </a>
      </li>
      <li class="text-center">
        <a class="text-xs tab-btn block last" v-on:click="toggleTabs(3)" v-bind:class="{'bg-white': openTab !== 3, 'active text-white': openTab === 3}">
          Temporärbüro
        </a>
      </li>
    </ul>
    <div class="relative w-full overflow-hidden">
      <div class="flex-auto">
        <div class="tab-content tab-space">
          <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
            <div class="tab-steps tab-1">
              <h2 class="text-center">Drei einfache Schritte <br/> zu deinem neuen Job</h2>
              <div class="step step-1 px-4 ">
                <div class="step-image">
                  <ProfileImage />
                </div>
                <div class="count-text flex items-end">
                  <p>1.</p>
                  <span>Erstellen dein Lebenslauf</span>
                </div>
              </div>

              <div class="step step-2 px-4 ">
                <div class="count-text flex items-end">
                  <p>2.</p>
                  <span>Erstellen dein Lebenslauf</span>
                </div>
                <div class="step-image">
                  <TaskImage />
                </div>
                
              </div>

              <div class="step step-3 px-4 ">
                <div class="count-text flex items-center">
                  <p>3.</p>
                  <span class="mb-0">Mit nur einem Klick bewerben</span>
                </div>
                <div class="step-image">
                  <PersonalFileImage />
                </div>
              </div>
            </div>
          </div>
          <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
            <div class="tab-steps tab-2">
              <h2 class="text-center">Drei einfache Schritte <br/>zu deinem neuen Mitarbeiter</h2>
              <div class="step step-1 px-4 ">
                <div class="step-image">
                  <ProfileImage />
                </div>
                <div class="count-text flex items-end">
                  <p>1.</p>
                  <span>Erstellen dein Unternehmensprofil</span>
                </div>
              </div>

              <div class="step step-2 px-4 ">
                <div class="count-text flex items-end">
                  <p>2.</p>
                  <span>Erstellen ein Jobinserat</span>
                </div>
                <div class="step-image">
                  <AboutImage />
                </div>
                
              </div>

              <div class="step step-3 px-4 ">
                <div class="count-text flex items-end">
                  <p>3.</p>
                  <span class="mb-0">Wähle deinen neuen Mitarbeiter aus</span>
                </div>
                <div class="step-image">
                  <SwipeProfileImage />
                </div>
              </div>
            </div>
          </div>
          <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">
            <div class="tab-steps tab-3">
              <h2 class="text-center">Drei einfache Schritte zur <br/>Vermittlung neuer Mitarbeiter</h2>
              <div class="step step-1 px-4 ">
                <div class="step-image">
                  <ProfileImage />
                </div>
                <div class="count-text flex items-end">
                  <p>1.</p>
                  <span>Erstellen dein Unternehmensprofil</span>
                </div>
              </div>

              <div class="step step-2 px-4 ">
                <div class="count-text flex items-end">
                  <p>2.</p>
                  <span>Erhalte Vermittlungs- angebot von Arbeitgeber</span>
                </div>
                <div class="step-image">
                  <JobOffersImage />
                </div>
                
              </div>

              <div class="step step-3 px-4 ">
                <div class="count-text flex items-end">
                  <p>3.</p>
                  <span class="mb-0">Vermittlung nach Provision oder Stundenlohn</span>
                </div>
                <div class="step-image">
                  <BusinessDealImage />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="fixed bg-white w-full p-6 bottom-0">
      <button class="p-4 w-full text-sm text-white duration-200">Kostenlos Registrieren</button>
    </footer>
  </main>
</template >
  
<style>
  *{
    font-family: Lato;
  }
  header{
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 3px 6px #00000029;
    top: 0;
    z-index: 10;
  }
  main{
    padding-bottom: 100px;
  }
  .top-border{
    height: 5px;
    background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  }
  .login-link {
    color: #319795;
    font-weight: 600;
  }
  .login-link:hover {
    text-decoration: underline;
  }
  .banner{
    padding-top: 65px;
    padding-bottom: 62px;
    background-image: url("~assets/Path1.png");
    background-size: cover;
  }
  .banner .bg-image{
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
  }

  h1{
    padding: 16px 18px 0;
    font-size: 42px;
    font-weight: 600; 
    line-height: 50px;
  }

  h2{
    font-size: 21px;
    font-weight: 600; 
    line-height: 25px;
    margin-bottom: 20px;
  }

  footer{
    border-radius: 12px 12px 0 0;
    box-shadow: 0px -1px 3px #00000033;
    z-index: 10;
  }
  footer button{
    border-radius: 12px;
    font-weight: 600;
    background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  }
  footer button:hover{
    background: transparent linear-gradient(95deg, #2C7A7B 0%, #2B6CB0 100%) 0% 0% no-repeat padding-box;
  }

  .tab-buttons{
    padding-top: 50px;
  }

  .tab-buttons .tab-btn{
    padding: 12px 32px;
    border: 1px solid #CBD5E0;
    font-weight: 600;
    min-width: 160px;
  }
  .tab-buttons .tab-btn.active{
    background: #81E6D9;
    border-color: #81E6D9;
  }
  .tab-buttons .tab-btn.first{
    border-radius: 12px 0 0 12px;
  }
  .tab-buttons .tab-btn.last{
    border-radius: 0 12px 12px 0;
  }
  .tab-content{
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .tab-buttons::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .tab-buttons {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .tab-steps .step-1 .count-text{
    margin-top: -70px;
  }
  .tab-steps .step .step-image svg{
    margin-left: auto;
    margin-right: 24px;
  }
  .tab-steps .step-2 .step-image svg{
    margin-right: 52px;
  }
  .tab-steps .step-3 .step-image svg{
    margin-right: 0;
    margin-top: -50px;
  }
  .tab-steps .step .count-text p {
    font-size: 130px;
    color: #718096;
    line-height: 156px;
    margin-right: 21px;
    position: relative;
  }
  .tab-steps .step.step-1 .count-text p::before{
    content: "";
    width: 208px;
    height: 208px;
    border-radius: 50%;
    background: #F7FAFC;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    left: -30px;
    top: -20px;
  }
  .tab-steps .step .count-text span {
    margin-bottom: 21px;
    font-size: 15px;
    color: #718096;
  }

  .tab-steps .step.step-2{
    padding-top: 26px;
    padding-bottom: 61px;
    position: relative;
    background-image: url("~assets/Path2.png");
    background-size: cover;
  }
  .tab-steps .step.step-2 .count-text {
    margin-left: 20px;
  }
  .tab-steps .step.step-3{
    margin-top: -30px
  }
  .tab-steps .step.step-3 .count-text {
    margin-left: 38px;
  }

  .tab-steps .step.step-3 .count-text p::before{
    content: "";
    width: 303px;
    height: 303px;
    border-radius: 50%;
    background: #F7FAFC;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    left: -116px;
    top: -10px;
  }
  .tab-steps.tab-2 .step-2 .step-image svg{
    margin-right: 26px;
  }
  .tab-steps.tab-2 .step-3,
  .tab-steps.tab-3 .step-3{
    position: relative;
    z-index: 1;
  }
  .tab-steps.tab-2 .step.step-3 .count-text p::before,
  .tab-steps.tab-3 .step.step-3 .count-text p::before{
    opacity: 1;
  }
  .tab-steps.tab-2 .step-3 .step-image svg,
  .tab-steps.tab-3 .step-3 .step-image svg{
    margin-right: auto;
    margin-top: 20px;
  }
</style>

<script>

export default {
  name: "IndexPage",
  data() {
    return {
      openTab: 1
    }
  },
  methods: {
    toggleTabs: function(tabNumber){
      this.openTab = tabNumber
    }
  }
}
</script>
